## Exploratory Data Analysis ##
Although sensitivity seems an appropriate metric to us considering that false positives would not be detrimental to the city, our metric is accuracy based on the Kaggle competition.

In [112]:
import pandas as pd
import seaborn as sns
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web
from datetime import datetime
import matplotlib.pyplot as plt

In [113]:
spray = pd.read_csv('./Molly-Work/all/spray.csv')
weather = pd.read_csv('./Molly-Work/all/weather.csv')
train = pd.read_csv('./Molly-Work/all/train.csv')
test = pd.read_csv('./Molly-Work/all/test.csv')

In [114]:
train.columns = [col.lower().replace(' ', '_') for col in train.columns]

In [115]:
test.columns = [col.lower().replace(' ', '_') for col in test.columns]

In [116]:
spray.columns = [col.lower().replace(' ', '_') for col in spray.columns]

In [117]:
weather.columns = [col.lower().replace(' ', '_') for col in weather.columns]

In [118]:
spray.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
date         14835 non-null object
time         14251 non-null object
latitude     14835 non-null float64
longitude    14835 non-null float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [119]:
spray[spray.isnull().any(axis=1)]

            date time   latitude  longitude
1030  2011-09-07  NaN  41.987092 -87.794286
1031  2011-09-07  NaN  41.987620 -87.794382
1032  2011-09-07  NaN  41.988004 -87.794574
1033  2011-09-07  NaN  41.988292 -87.795486
1034  2011-09-07  NaN  41.988100 -87.796014
1035  2011-09-07  NaN  41.986372 -87.794862
1036  2011-09-07  NaN  41.986228 -87.795582
1037  2011-09-07  NaN  41.984836 -87.793998
1038  2011-09-07  NaN  41.984836 -87.794670
1039  2011-09-07  NaN  41.984884 -87.795198
1040  2011-09-07  NaN  41.982820 -87.793182
1041  2011-09-07  NaN  41.982772 -87.793950
1042  2011-09-07  NaN  41.982772 -87.795006
1043  2011-09-07  NaN  41.983444 -87.795246
1044  2011-09-07  NaN  41.984068 -87.795438
1045  2011-09-07  NaN  41.984596 -87.795534
1046  2011-09-07  NaN  41.984980 -87.795630
1047  2011-09-07  NaN  41.986708 -87.796110
1048  2011-09-07  NaN  41.987524 -87.796302
1049  2011-09-07  NaN  41.988820 -87.796638
1050  2011-09-07  NaN  41.989444 -87.796830
1051  2011-09-07  NaN  41.990068 -87.796974
1052  2011-09-07  NaN  41.988244 -87.797022
1053  2011-09-07  NaN  41.988196 -87.797742
1054  2011-09-07  NaN  41.988196 -87.798366
1055  2011-09-07  NaN  41.988196 -87.798942
1056  2011-09-07  NaN  41.988196 -87.799422
1057  2011-09-07  NaN  41.986372 -87.796494
1058  2011-09-07  NaN  41.986372 -87.797310
1059  2011-09-07  NaN  41.986372 -87.798030
...          ...  ...        ...        ...
1584  2011-09-07  NaN  41.992372 -87.816367
1585  2011-09-07  NaN  41.992468 -87.815839
1586  2011-09-07  NaN  41.992516 -87.815311
1587  2011-09-07  NaN  41.992564 -87.814735
1588  2011-09-07  NaN  41.992612 -87.814303
1589  2011-09-07  NaN  41.992612 -87.813775
1590  2011-09-07  NaN  41.992612 -87.813343
1591  2011-09-07  NaN  41.992660 -87.812767
1592  2011-09-07  NaN  41.992660 -87.812191
1593  2011-09-07  NaN  41.992612 -87.811663
1594  2011-09-07  NaN  41.992660 -87.811279
1595  2011-09-07  NaN  41.992660 -87.810847
1596  2011-09-07  NaN  41.992612 -87.810415
1597  2011-09-07  NaN  41.992660 -87.809455
1598  2011-09-07  NaN  41.992660 -87.809983
1599  2011-09-07  NaN  41.992708 -87.808927
1600  2011-09-07  NaN  41.992708 -87.808399
1601  2011-09-07  NaN  41.992756 -87.807775
1602  2011-09-07  NaN  41.992756 -87.807199
1603  2011-09-07  NaN  41.996164 -87.813727
1604  2011-09-07  NaN  41.995732 -87.813679
1605  2011-09-07  NaN  41.994916 -87.813727
1606  2011-09-07  NaN  41.992948 -87.813775
1607  2011-09-07  NaN  41.996644 -87.811567
1608  2011-09-07  NaN  41.996260 -87.811567
1609  2011-09-07  NaN  41.995876 -87.811615
1610  2011-09-07  NaN  41.995972 -87.810271
1611  2011-09-07  NaN  41.995684 -87.810319
1612  2011-09-07  NaN  41.994724 -87.810415
1613  2011-09-07  NaN  41.993092 -87.810415

[584 rows x 4 columns]

In [120]:
#Dropped time column from spray because it isn't contained in any other datasets.

In [121]:
spray.drop(columns='time', inplace=True)

In [122]:
spray.head()

         date   latitude  longitude
0  2011-08-29  42.391623 -88.089163
1  2011-08-29  42.391348 -88.089163
2  2011-08-29  42.391022 -88.089157
3  2011-08-29  42.390637 -88.089158
4  2011-08-29  42.390410 -88.088858

In [123]:
spray.columns

Index(['date', 'latitude', 'longitude'], dtype='object')

In [124]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
station        2944 non-null int64
date           2944 non-null object
tmax           2944 non-null int64
tmin           2944 non-null int64
tavg           2944 non-null object
depart         2944 non-null object
dewpoint       2944 non-null int64
wetbulb        2944 non-null object
heat           2944 non-null object
cool           2944 non-null object
sunrise        2944 non-null object
sunset         2944 non-null object
codesum        2944 non-null object
depth          2944 non-null object
water1         2944 non-null object
snowfall       2944 non-null object
preciptotal    2944 non-null object
stnpressure    2944 non-null object
sealevel       2944 non-null object
resultspeed    2944 non-null float64
resultdir      2944 non-null int64
avgspeed       2944 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

In [125]:
#Dropped all t-averages with missing value 'M' because there were additional missing values in each of these rows.

In [126]:
weather = (weather[weather['tavg'] != 'M'])

In [127]:
weather.shape

(2933, 22)

In [128]:
weather['tavg'] = weather['tavg'].astype(int)

In [129]:
weather[weather['depart'] == 'M']

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,,M,M,M,0.00,29.62,30.28,13.8,10,14.5
13,2,2007-05-07,84,50,67,M,39,53,0,2,...,,M,M,M,0.00,29.44,30.12,8.5,17,9.9
15,2,2007-05-08,80,60,70,M,57,63,0,5,...,HZ,M,M,M,T,29.36,30.02,2.5,8,5.4
17,2,2007-05-09,76,63,70,M,60,63,0,5,...,BR HZ,M,M,M,0.02,29.28,29.93,3.9,7,5.9
19,2,2007-05-10,83,59,71,M,52,61,0,6,...,BR HZ,M,M,M,0.00,29.26,29.91,2.0,9,3.9
21,2,2007-05-11,73,49,61,M,44,51,4,0,...,,M,M,M,0.00,29.39,30.03,11.7,36,12.8
23,2,2007-05-12,65,47,56,M,37,46,9,0,...,,M,M,M,0.00,29.54,30.19,12.7,1,13.0
25,2,2007-05-13,69,44,57,M,32,46,8,0,...,,M,M,M,0.00,29.55,30.24,6.4,11,7.6
27,2,2007-05-14,90,54,72,M,45,58,0,7,...,,M,M,M,0.00,29.31,29.98,14.1,21,14.6
29,2,2007-05-15,82,56,69,M,56,61,0,4,...,TSRA RA BR,M,M,M,0.60,29.19,29.83,8.1,25,10.8
31,2,2007-05-16,64,45,55,M,42,47,10,0,...,RA BR,M,M,M,0.07,29.39,30.03,8.0,36,11.8
33,2,2007-05-17,61,44,53,M,32,43,12,0,...,,M,M,M,0.00,29.62,30.27,11.7,1,12.2
35,2,2007-05-18,70,43,57,M,31,47,8,0,...,,M,M,M,0.00,29.60,30.26,3.4,22,5.5
37,2,2007-05-19,80,56,68,M,37,53,0,3,...,,M,M,M,0.00,29.41,30.08,11.1,23,11.4
39,2,2007-05-20,69,44,57,M,41,45,8,0,...,TSRA RA,M,M,M,0.11,29.44,30.11,8.6,3,9.7
41,2,2007-05-21,79,46,63,M,50,57,2,0,...,,M,M,M,0.00,29.39,30.05,6.3,10,7.8
43,2,2007-05-22,87,60,74,M,44,58,0,9,...,,M,M,M,0.00,29.41,30.05,10.1,16,10.6
45,2,2007-05-23,89,66,78,M,48,61,0,13,...,,M,M,M,0.00,29.47,30.10,10.9,18,11.2
47,2,2007-05-24,88,66,77,M,53,63,0,12,...,RA HZ,M,M,M,T,29.47,30.10,13.8,20,15.2
49,2,2007-05-25,66,57,62,M,46,53,3,0,...,RA BR,M,M,M,0.09,29.57,30.23,4.5,5,8.2
51,2,2007-05-26,70,50,60,M,55,57,5,0,...,TSRA RA BR,M,M,M,0.28,29.42,30.10,2.5,15,7.8
53,2,2007-05-27,75,59,67,M,49,57,0,2,...,RA BR,M,M,M,0.08,29.41,30.05,8.2,24,9.2
55,2,2007-05-28,76,54,65,M,49,57,0,0,...,,M,M,M,0.00,29.49,30.14,4.7,8,5.2
57,2,2007-05-29,88,65,77,M,59,66,0,12,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
59,2,2007-05-30,89,70,80,M,57,66,0,15,...,HZ,M,M,M,0.00,29.38,30.03,9.7,17,10.1
61,2,2007-05-31,80,68,74,M,61,66,0,9,...,RA BR,M,M,M,0.53,29.34,29.99,8.9,18,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2885,2,2014-10-02,75,66,71,M,63,65,0,6,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
2887,2,2014-10-03,68,46,57,M,47,52,8,0,...,RA BR,M,M,M,1.05,29.02,29.66,14.0,28,15.6
2889,2,2014-10-04,49,37,43,M,35,41,22,0,...,RA DZ,M,M,M,0.05,29.07,29.74,13.6,25,13.5
2891,2,2014-10-05,56,42,49,M,36,44,16,0,...,RA,M,M,M,T,29.02,29.70,10.1,23,10.7
2893,2,2014-10-06,63,48,56,M,40,47,9,0,...,,M,M,M,0.01,28.95,29.62,9.5,23,10.5
2895,2,2014-10-07,69,49,59,M,45,51,6,0,...,,M,M,M,0.00,29.06,29.70,10.3,24,11.7
2897,2,2014-10-08,67,48,58,M,36,48,7,0,...,,M,M,M,0.00,29.34,29.97,10.7,27,11.2
2899,2,2014-10-09,64,50,57,M,36,46,8,0,...,,M,M,M,0.00,29.44,30.09,3.4,2,6.3
2901,2,2014-10-10,59,44,52,M,40,46,13,0,...,,M,M,M,0.00,29.49,30.16,3.8,2,5.2
2903,2,2014-10-11,60,40,50,M,36,44,15,0,...,,M,M,M,0.00,29.53,30.20,3.5,8,4.7
2905,2,2014-10-12,64,45,55,M,44,50,10,0,...,RA DZ BR,M,M,M,0.01,29.31,30.00,9.5,14,9.9
2907,2,2014-10-13,71,59,65,M,61,62,0,0,...,RA BR HZ,M,M,M,0.44,29.03,29.73,7.5,15,8.9
2909,2,2014-10-14,67,54,61,M,59,60,4,0,...,RA DZ BR,M,M,M,1.18,28.89,29.54,1.8,12,8.6
2911,2,2014-10-15,58,53,56,M,53,54,9,0,...,RA DZ BR,M,M,M,0.07,29.10,29.74,9.4,35,9.7
2913,2,2014-10-16,58,53,56,M,52,53,9,0,...,DZ BR,M,M,M,T,29.09,29.77,5.4,25,8.4
2915,2,2014-10-17,63,49,56,M,48,52,9,0,...,,M,M,M,0.01,29.05,29.69,10.7,28,12.7
2917,2,2014-10-18,52,39,46,M,40,44,19,0,...,RA,M,M,M,0.02,29.44,30.08,7.6,34,8.7
2919,2,2014-10-19,57,36,47,M,40,44,18,0,...,,M,M,M,0.00,29.39,30.09,8.8,21,9.0
2921,2,2014-10-20,66,50,58,M,46,51,7,0,...,,M,M,M,0.00,29.23,29.90,4.9,32,9.1
2923,2,2014-10-21,54,49,52,M,41,46,13,0,...,,M,M,M,0.00,29.51,30.15,11.0,36,11.6
2925,2,2014-10-22,56,43,50,M,38,44,15,0,...,,M,M,M,0.00,29.62,30.30,3.0,11,5.1
2927,2,2014-10-23,62,41,52,M,41,47,13,0,...,BR,M,M,M,T,29.46,30.16,7.9,19,8.4
2929,2,2014-10-24,68,54,61,M,48,53,4,0,...,,M,M,M,0.00,29.31,30.00,4.9,22,5.8
2931,2,2014-10-25,75,52,64,M,41,52,1,0,...,BR HZ,M,M,M,0.00,29.27,29.92,9.7,28,10.4
2933,2,2014-10-26,66,44,55,M,33,45,10,0,...,,M,M,M,0.00,29.28,29.95,1.6,11,5.4
2935,2,2014-10-27,79,54,67,M,52,59,0,2,...,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2937,2,2014-10-28,66,48,57,M,40,48,8,0,...,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [130]:
weather['depart'].value_counts(normalize=True)

M      0.498125
 2     0.031708
-1     0.028640
-2     0.027276
 5     0.026253
 7     0.025912
 1     0.025912
 3     0.025571
 0     0.025230
-3     0.024548
 4     0.024207
 6     0.022844
 8     0.020116
-5     0.019434
-4     0.019093
-6     0.017047
 9     0.016025
10     0.015684
-8     0.014661
-7     0.010228
12     0.009547
11     0.009547
-9     0.008524
13     0.007842
14     0.007501
-10    0.007501
15     0.005114
16     0.004091
-11    0.003409
-12    0.002728
17     0.002387
-14    0.002046
18     0.002046
-13    0.001705
19     0.001364
20     0.001364
-16    0.001023
-15    0.001023
22     0.001023
21     0.000682
-17    0.000682
23     0.000341
Name: depart, dtype: float64

In [131]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2933 entries, 0 to 2943
Data columns (total 22 columns):
station        2933 non-null int64
date           2933 non-null object
tmax           2933 non-null int64
tmin           2933 non-null int64
tavg           2933 non-null int64
depart         2933 non-null object
dewpoint       2933 non-null int64
wetbulb        2933 non-null object
heat           2933 non-null object
cool           2933 non-null object
sunrise        2933 non-null object
sunset         2933 non-null object
codesum        2933 non-null object
depth          2933 non-null object
water1         2933 non-null object
snowfall       2933 non-null object
preciptotal    2933 non-null object
stnpressure    2933 non-null object
sealevel       2933 non-null object
resultspeed    2933 non-null float64
resultdir      2933 non-null int64
avgspeed       2933 non-null object
dtypes: float64(1), int64(6), object(15)
memory usage: 527.0+ KB

In [132]:
weather[weather.isnull().any(axis=1)]

Empty DataFrame
Columns: [station, date, tmax, tmin, tavg, depart, dewpoint, wetbulb, heat, cool, sunrise, sunset, codesum, depth, water1, snowfall, preciptotal, stnpressure, sealevel, resultspeed, resultdir, avgspeed]
Index: []

[0 rows x 22 columns]

In [133]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 12 columns):
date                      10506 non-null object
address                   10506 non-null object
species                   10506 non-null object
block                     10506 non-null int64
street                    10506 non-null object
trap                      10506 non-null object
addressnumberandstreet    10506 non-null object
latitude                  10506 non-null float64
longitude                 10506 non-null float64
addressaccuracy           10506 non-null int64
nummosquitos              10506 non-null int64
wnvpresent                10506 non-null int64
dtypes: float64(2), int64(4), object(6)
memory usage: 985.0+ KB

In [134]:
train[train.isnull().any(axis=1)]

Empty DataFrame
Columns: [date, address, species, block, street, trap, addressnumberandstreet, latitude, longitude, addressaccuracy, nummosquitos, wnvpresent]
Index: []

In [135]:
train.columns

Index(['date', 'address', 'species', 'block', 'street', 'trap',
       'addressnumberandstreet', 'latitude', 'longitude', 'addressaccuracy',
       'nummosquitos', 'wnvpresent'],
      dtype='object')

In [136]:
#Converted dates to datetime.

In [137]:
spray['date']   = pd.to_datetime(spray['date'])
weather['date'] = pd.to_datetime(weather['date'])
train['date']   = pd.to_datetime(train['date'])
test['date']    = pd.to_datetime(test['date'])

In [138]:
weather1 = weather[weather['station'] == 1]
weather2 = weather[weather['station'] == 2]
weather1.drop(columns='station', inplace=True)
weather2.drop(columns='station', inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [144]:
weather = weather1.merge(weather2, on='date')

In [145]:
train.merge(weather, on='date')

,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,...,codesum_y,depth_y,water1_y,snowfall_y,preciptotal_y,stnpressure_y,sealevel_y,resultspeed_y,resultdir_y,avgspeed_y
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
5,2007-05-29,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
6,2007-05-29,"2500 West Grand Avenue, Chicago, IL 60654, USA",CULEX RESTUANS,25,W GRAND AVE,T046,"2500 W GRAND AVE, Chicago, IL",41.891118,-87.654491,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
7,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
8,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
9,2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",CULEX RESTUANS,11,W CHICAGO,T049,"1100 W CHICAGO, Chicago, IL",41.896282,-87.655232,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
10,2007-05-29,"2100 North Stave Street, Chicago, IL 60647, USA",CULEX PIPIENS/RESTUANS,21,N STAVE ST,T050,"2100 N STAVE ST, Chicago, IL",41.919343,-87.694259,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
11,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
12,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
13,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
14,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
15,2007-05-29,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX RESTUANS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
16,2007-05-29,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX RESTUANS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
17,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
18,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX PIPIENS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
19,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX PIPIENS/RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
20,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
21,2007-05-29,"6500 North Oak Park Avenue, Chicago, IL 60631,...",CULEX PIPIENS/RESTUANS,65,N OAK PARK AVE,T143,"6500 N OAK PARK AVE, Chicago, IL",41.999129,-87.795585,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
22,2007-05-29,"7500 North Oakley Avenue, Chicago, IL 60645, USA",CULEX PIPIENS/RESTUANS,75,N OAKLEY AVE,T148,"7500 N OAKLEY AVE, Chicago, IL",42.017430,-87.687769,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
23,2007-05-29,"1500 North Long Avenue, Chicago, IL 60651, USA",CULEX RESTUANS,15,N LONG AVE,T153,"1500 N LONG AVE, Chicago, IL",41.907645,-87.760886,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
24,2007-05-29,"8900 South Carpenter Street, Chicago, IL 60620...",CULEX RESTUANS,89,S CARPENTER ST,T159,"8900 S CARPENTER ST, Chicago, IL",41.732984,-87.649642,8,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
25,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,RA BR,M,M,M,0.27,29.16,29.78,6.2,3,8.1
26,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,RA BR,M,M,M,0.27,29.16,29.78,6.2,3,8.1
27,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,RA BR,M,M,M,0.27,29.16,29.78,6.2,3,8.1
28,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,RA BR,M,M,M,0.27,29.16,29.78,6.2,3,8.1
29,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,RA BR,M,M,M,0.27,29.16,29.78,6.2,3,8.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10476,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10477,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX RESTUANS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10478,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX PIPIENS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10479,2013-09-26,"5800 North Pulaski Road, Chicago, IL 60646, USA",CULEX PIPIENS,58,N PULASKI RD,T027,"5800 N PULASKI RD, Chicago, IL",41.984809,-87.728492,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10480,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS/RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10481,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10482,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10483,2013-09-26,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10484,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10485,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10486,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10487,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10488,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10489,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10490,2013-09-26,"4800 West Montana Street, Chicago, IL 60639, USA",CULEX PIPIENS/RESTUANS,48,W MONTANA ST,T222,"4800 W MONTANA ST, Chicago, IL",41.925198,-87.746381,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10491,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX PIPIENS/RESTUANS,51,N MONT CLARE AVE,T223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10492,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX PIPIENS,51,N MONT CLARE AVE,T223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10493,2013-09-26,"8200 South Kostner Avenue, Chicago, IL 60652, USA",CULEX PIPIENS/RESTUANS,82,S KOSTNER AVE,T225,"8200 S KOSTNER AVE, Chicago, IL",41.743402,-87.731435,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10494,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,65,E 91ST PL,T227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10495,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX PIPIENS,65,E 91ST PL,T227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10496,2013-09-26,"1700 West Addison Street, Chicago, IL 60613, USA",CULEX PIPIENS/RESTUANS,17,W ADDISON ST,T224,"1700 W ADDISON ST, Chicago, IL",41.947227,-87.671457,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10497,2013-09-26,"West Garfield Boulevard, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,90,W GARFIELD BLVD,T226,"9000 W GARFIELD BLVD, Chicago, IL",41.793818,-87.654234,5,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10498,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX PIPIENS/RESTUANS,13,N LARAMIE AVE,T230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10499,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX PIPIENS,13,N LARAMIE AVE,T230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10500,2013-09-26,"3900 North Springfield Avenue, Chicago, IL 606...",CULEX PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,T228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10501,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10502,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10503,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10504,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6
10505,2013-09-26,"4200 West 65th Street, Chicago, IL 60621, USA",CULEX PIPIENS/RESTUANS,42,W 65TH ST,T235,"4200 W 65TH ST, Chicago, IL",41.776428,-87.627096,8,...,,M,M,M,0.00,29.40,30.04,4.1,9,4.6

In [146]:
spray.head()

        date   latitude  longitude
0 2011-08-29  42.391623 -88.089163
1 2011-08-29  42.391348 -88.089163
2 2011-08-29  42.391022 -88.089157
3 2011-08-29  42.390637 -88.089158
4 2011-08-29  42.390410 -88.088858

In [23]:
train['trap'].head()

0    T002
1    T002
2    T007
3    T015
4    T015
Name: trap, dtype: object

In [24]:
train['addressnumberandstreet'].head()

0    4100  N OAK PARK AVE, Chicago, IL
1    4100  N OAK PARK AVE, Chicago, IL
2     6200  N MANDELL AVE, Chicago, IL
3      7900  W FOSTER AVE, Chicago, IL
4      7900  W FOSTER AVE, Chicago, IL
Name: addressnumberandstreet, dtype: object

In [25]:
train['address'].head()

0    4100 North Oak Park Avenue, Chicago, IL 60634,...
1    4100 North Oak Park Avenue, Chicago, IL 60634,...
2    6200 North Mandell Avenue, Chicago, IL 60646, USA
3      7900 West Foster Avenue, Chicago, IL 60656, USA
4      7900 West Foster Avenue, Chicago, IL 60656, USA
Name: address, dtype: object

In [27]:
train['species'].value_counts()

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: species, dtype: int64

In [28]:
train['wnvpresent'].head()

0    0
1    0
2    0
3    0
4    0
Name: wnvpresent, dtype: int64