## Exploratory Data Analysis ##
Although the Kaggle competition uses Auc to measure success in this project we decided to concentrate on Sensitivity as we want to identify as much of the West Nile virus as possible.  We will not be able to judge our sensitivity score on the test data as it will evaluate us on Auc but we will still treat the test data as though we are evaluating it by Sensitivity

In [1]:
# Installed geopy, which is a tool to help determine distances between objects.  We used this below to determine
# the distance between if West Nile Virus is presenet to those cases it wasn't, by year
!pip install geopy

Requirement already satisfied: geopy in /Users/bryancombs/anaconda3/lib/python3.6/site-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/bryancombs/anaconda3/lib/python3.6/site-packages (from geopy) (1.49)

In [2]:
# Import libraries
import pandas as pd
import seaborn as sns
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web
from datetime import datetime
import matplotlib.pyplot as plt
from geopy.distance import geodesic
import time

In [3]:
# Import csv data files and assign to variable
spray = pd.read_csv('./data/spray.csv')
weather = pd.read_csv('./data/weather.csv')
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [4]:
# Use the imported column names and lowercase all letters and add an underscore where spaces exist between words
train.columns = [col.lower().replace(' ', '_') for col in train.columns]
test.columns = [col.lower().replace(' ', '_') for col in test.columns]
spray.columns = [col.lower().replace(' ', '_') for col in spray.columns]
weather.columns = [col.lower().replace(' ', '_') for col in weather.columns]

In [5]:
#create baseline file to upload to Kaggle
baseline=test.loc[:,("id")]
baseline['wnvpresent'] = 0
baseline.to_csv('./Data/baselinesubmission.csv', index=False)

/Users/bryancombs/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

#### Baseline Score

We created a baseline file, where there were no West Nile Virus predictions made (all zero's), to upload to Kaggle to get an idea what the score would be, according to their measurements.  While it turned out that our score was .50, that wasn't much of a surprise since a mosquito either has West Nile or does not.

In [6]:
#baseline on train
1-train['wnvpresent'].mean()

0.9475537787930707

In [7]:
spray.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
date         14835 non-null object
time         14251 non-null object
latitude     14835 non-null float64
longitude    14835 non-null float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [8]:
#looked for null values in spray dataset
spray[spray.isnull().any(axis=1)]

            date time   latitude  longitude
1030  2011-09-07  NaN  41.987092 -87.794286
1031  2011-09-07  NaN  41.987620 -87.794382
1032  2011-09-07  NaN  41.988004 -87.794574
1033  2011-09-07  NaN  41.988292 -87.795486
1034  2011-09-07  NaN  41.988100 -87.796014
1035  2011-09-07  NaN  41.986372 -87.794862
1036  2011-09-07  NaN  41.986228 -87.795582
1037  2011-09-07  NaN  41.984836 -87.793998
1038  2011-09-07  NaN  41.984836 -87.794670
1039  2011-09-07  NaN  41.984884 -87.795198
1040  2011-09-07  NaN  41.982820 -87.793182
1041  2011-09-07  NaN  41.982772 -87.793950
1042  2011-09-07  NaN  41.982772 -87.795006
1043  2011-09-07  NaN  41.983444 -87.795246
1044  2011-09-07  NaN  41.984068 -87.795438
1045  2011-09-07  NaN  41.984596 -87.795534
1046  2011-09-07  NaN  41.984980 -87.795630
1047  2011-09-07  NaN  41.986708 -87.796110
1048  2011-09-07  NaN  41.987524 -87.796302
1049  2011-09-07  NaN  41.988820 -87.796638
1050  2011-09-07  NaN  41.989444 -87.796830
1051  2011-09-07  NaN  41.990068 -87.796974
1052  2011-09-07  NaN  41.988244 -87.797022
1053  2011-09-07  NaN  41.988196 -87.797742
1054  2011-09-07  NaN  41.988196 -87.798366
1055  2011-09-07  NaN  41.988196 -87.798942
1056  2011-09-07  NaN  41.988196 -87.799422
1057  2011-09-07  NaN  41.986372 -87.796494
1058  2011-09-07  NaN  41.986372 -87.797310
1059  2011-09-07  NaN  41.986372 -87.798030
...          ...  ...        ...        ...
1584  2011-09-07  NaN  41.992372 -87.816367
1585  2011-09-07  NaN  41.992468 -87.815839
1586  2011-09-07  NaN  41.992516 -87.815311
1587  2011-09-07  NaN  41.992564 -87.814735
1588  2011-09-07  NaN  41.992612 -87.814303
1589  2011-09-07  NaN  41.992612 -87.813775
1590  2011-09-07  NaN  41.992612 -87.813343
1591  2011-09-07  NaN  41.992660 -87.812767
1592  2011-09-07  NaN  41.992660 -87.812191
1593  2011-09-07  NaN  41.992612 -87.811663
1594  2011-09-07  NaN  41.992660 -87.811279
1595  2011-09-07  NaN  41.992660 -87.810847
1596  2011-09-07  NaN  41.992612 -87.810415
1597  2011-09-07  NaN  41.992660 -87.809455
1598  2011-09-07  NaN  41.992660 -87.809983
1599  2011-09-07  NaN  41.992708 -87.808927
1600  2011-09-07  NaN  41.992708 -87.808399
1601  2011-09-07  NaN  41.992756 -87.807775
1602  2011-09-07  NaN  41.992756 -87.807199
1603  2011-09-07  NaN  41.996164 -87.813727
1604  2011-09-07  NaN  41.995732 -87.813679
1605  2011-09-07  NaN  41.994916 -87.813727
1606  2011-09-07  NaN  41.992948 -87.813775
1607  2011-09-07  NaN  41.996644 -87.811567
1608  2011-09-07  NaN  41.996260 -87.811567
1609  2011-09-07  NaN  41.995876 -87.811615
1610  2011-09-07  NaN  41.995972 -87.810271
1611  2011-09-07  NaN  41.995684 -87.810319
1612  2011-09-07  NaN  41.994724 -87.810415
1613  2011-09-07  NaN  41.993092 -87.810415

[584 rows x 4 columns]

In [9]:
# Dropped time column from spray because it isn't contained in any other datasets, and has a high number of missing
# values
spray.drop(columns='time', inplace=True)

In [10]:
spray.head()

         date   latitude  longitude
0  2011-08-29  42.391623 -88.089163
1  2011-08-29  42.391348 -88.089163
2  2011-08-29  42.391022 -88.089157
3  2011-08-29  42.390637 -88.089158
4  2011-08-29  42.390410 -88.088858

In [11]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
station        2944 non-null int64
date           2944 non-null object
tmax           2944 non-null int64
tmin           2944 non-null int64
tavg           2944 non-null object
depart         2944 non-null object
dewpoint       2944 non-null int64
wetbulb        2944 non-null object
heat           2944 non-null object
cool           2944 non-null object
sunrise        2944 non-null object
sunset         2944 non-null object
codesum        2944 non-null object
depth          2944 non-null object
water1         2944 non-null object
snowfall       2944 non-null object
preciptotal    2944 non-null object
stnpressure    2944 non-null object
sealevel       2944 non-null object
resultspeed    2944 non-null float64
resultdir      2944 non-null int64
avgspeed       2944 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

In [12]:
weather['tavg'].value_counts()

73    138
77    117
70    117
75    110
71    109
74    107
72    104
69    103
78    102
76    100
68     99
79     98
66     93
67     89
61     88
64     86
65     84
80     84
63     81
57     67
62     66
60     61
50     57
81     55
58     49
53     49
54     48
55     48
82     48
56     46
52     46
59     45
51     36
83     34
49     29
45     28
46     24
47     24
84     21
44     19
48     17
86     16
85     16
42     15
43     12
M      11
87      9
41      7
40      5
39      4
91      4
88      4
89      4
38      2
90      2
36      2
37      2
93      1
94      1
92      1
Name: tavg, dtype: int64

In [13]:
# Dropped all t-averages with missing value 'M' because there were additional missing values in each of these rows.
# Only 11 were missing.
weather = (weather[weather['tavg'] != 'M'])

In [14]:
# Look at Missing values is the depart column of weather
weather[weather['depart'] == 'M']

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,,M,M,M,0.00,29.62,30.28,13.8,10,14.5
13,2,2007-05-07,84,50,67,M,39,53,0,2,...,,M,M,M,0.00,29.44,30.12,8.5,17,9.9
15,2,2007-05-08,80,60,70,M,57,63,0,5,...,HZ,M,M,M,T,29.36,30.02,2.5,8,5.4
17,2,2007-05-09,76,63,70,M,60,63,0,5,...,BR HZ,M,M,M,0.02,29.28,29.93,3.9,7,5.9
19,2,2007-05-10,83,59,71,M,52,61,0,6,...,BR HZ,M,M,M,0.00,29.26,29.91,2.0,9,3.9
21,2,2007-05-11,73,49,61,M,44,51,4,0,...,,M,M,M,0.00,29.39,30.03,11.7,36,12.8
23,2,2007-05-12,65,47,56,M,37,46,9,0,...,,M,M,M,0.00,29.54,30.19,12.7,1,13.0
25,2,2007-05-13,69,44,57,M,32,46,8,0,...,,M,M,M,0.00,29.55,30.24,6.4,11,7.6
27,2,2007-05-14,90,54,72,M,45,58,0,7,...,,M,M,M,0.00,29.31,29.98,14.1,21,14.6
29,2,2007-05-15,82,56,69,M,56,61,0,4,...,TSRA RA BR,M,M,M,0.60,29.19,29.83,8.1,25,10.8
31,2,2007-05-16,64,45,55,M,42,47,10,0,...,RA BR,M,M,M,0.07,29.39,30.03,8.0,36,11.8
33,2,2007-05-17,61,44,53,M,32,43,12,0,...,,M,M,M,0.00,29.62,30.27,11.7,1,12.2
35,2,2007-05-18,70,43,57,M,31,47,8,0,...,,M,M,M,0.00,29.60,30.26,3.4,22,5.5
37,2,2007-05-19,80,56,68,M,37,53,0,3,...,,M,M,M,0.00,29.41,30.08,11.1,23,11.4
39,2,2007-05-20,69,44,57,M,41,45,8,0,...,TSRA RA,M,M,M,0.11,29.44,30.11,8.6,3,9.7
41,2,2007-05-21,79,46,63,M,50,57,2,0,...,,M,M,M,0.00,29.39,30.05,6.3,10,7.8
43,2,2007-05-22,87,60,74,M,44,58,0,9,...,,M,M,M,0.00,29.41,30.05,10.1,16,10.6
45,2,2007-05-23,89,66,78,M,48,61,0,13,...,,M,M,M,0.00,29.47,30.10,10.9,18,11.2
47,2,2007-05-24,88,66,77,M,53,63,0,12,...,RA HZ,M,M,M,T,29.47,30.10,13.8,20,15.2
49,2,2007-05-25,66,57,62,M,46,53,3,0,...,RA BR,M,M,M,0.09,29.57,30.23,4.5,5,8.2
51,2,2007-05-26,70,50,60,M,55,57,5,0,...,TSRA RA BR,M,M,M,0.28,29.42,30.10,2.5,15,7.8
53,2,2007-05-27,75,59,67,M,49,57,0,2,...,RA BR,M,M,M,0.08,29.41,30.05,8.2,24,9.2
55,2,2007-05-28,76,54,65,M,49,57,0,0,...,,M,M,M,0.00,29.49,30.14,4.7,8,5.2
57,2,2007-05-29,88,65,77,M,59,66,0,12,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
59,2,2007-05-30,89,70,80,M,57,66,0,15,...,HZ,M,M,M,0.00,29.38,30.03,9.7,17,10.1
61,2,2007-05-31,80,68,74,M,61,66,0,9,...,RA BR,M,M,M,0.53,29.34,29.99,8.9,18,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2885,2,2014-10-02,75,66,71,M,63,65,0,6,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
2887,2,2014-10-03,68,46,57,M,47,52,8,0,...,RA BR,M,M,M,1.05,29.02,29.66,14.0,28,15.6
2889,2,2014-10-04,49,37,43,M,35,41,22,0,...,RA DZ,M,M,M,0.05,29.07,29.74,13.6,25,13.5
2891,2,2014-10-05,56,42,49,M,36,44,16,0,...,RA,M,M,M,T,29.02,29.70,10.1,23,10.7
2893,2,2014-10-06,63,48,56,M,40,47,9,0,...,,M,M,M,0.01,28.95,29.62,9.5,23,10.5
2895,2,2014-10-07,69,49,59,M,45,51,6,0,...,,M,M,M,0.00,29.06,29.70,10.3,24,11.7
2897,2,2014-10-08,67,48,58,M,36,48,7,0,...,,M,M,M,0.00,29.34,29.97,10.7,27,11.2
2899,2,2014-10-09,64,50,57,M,36,46,8,0,...,,M,M,M,0.00,29.44,30.09,3.4,2,6.3
2901,2,2014-10-10,59,44,52,M,40,46,13,0,...,,M,M,M,0.00,29.49,30.16,3.8,2,5.2
2903,2,2014-10-11,60,40,50,M,36,44,15,0,...,,M,M,M,0.00,29.53,30.20,3.5,8,4.7
2905,2,2014-10-12,64,45,55,M,44,50,10,0,...,RA DZ BR,M,M,M,0.01,29.31,30.00,9.5,14,9.9
2907,2,2014-10-13,71,59,65,M,61,62,0,0,...,RA BR HZ,M,M,M,0.44,29.03,29.73,7.5,15,8.9
2909,2,2014-10-14,67,54,61,M,59,60,4,0,...,RA DZ BR,M,M,M,1.18,28.89,29.54,1.8,12,8.6
2911,2,2014-10-15,58,53,56,M,53,54,9,0,...,RA DZ BR,M,M,M,0.07,29.10,29.74,9.4,35,9.7
2913,2,2014-10-16,58,53,56,M,52,53,9,0,...,DZ BR,M,M,M,T,29.09,29.77,5.4,25,8.4
2915,2,2014-10-17,63,49,56,M,48,52,9,0,...,,M,M,M,0.01,29.05,29.69,10.7,28,12.7
2917,2,2014-10-18,52,39,46,M,40,44,19,0,...,RA,M,M,M,0.02,29.44,30.08,7.6,34,8.7
2919,2,2014-10-19,57,36,47,M,40,44,18,0,...,,M,M,M,0.00,29.39,30.09,8.8,21,9.0
2921,2,2014-10-20,66,50,58,M,46,51,7,0,...,,M,M,M,0.00,29.23,29.90,4.9,32,9.1
2923,2,2014-10-21,54,49,52,M,41,46,13,0,...,,M,M,M,0.00,29.51,30.15,11.0,36,11.6
2925,2,2014-10-22,56,43,50,M,38,44,15,0,...,,M,M,M,0.00,29.62,30.30,3.0,11,5.1
2927,2,2014-10-23,62,41,52,M,41,47,13,0,...,BR,M,M,M,T,29.46,30.16,7.9,19,8.4
2929,2,2014-10-24,68,54,61,M,48,53,4,0,...,,M,M,M,0.00,29.31,30.00,4.9,22,5.8
2931,2,2014-10-25,75,52,64,M,41,52,1,0,...,BR HZ,M,M,M,0.00,29.27,29.92,9.7,28,10.4
2933,2,2014-10-26,66,44,55,M,33,45,10,0,...,,M,M,M,0.00,29.28,29.95,1.6,11,5.4
2935,2,2014-10-27,79,54,67,M,52,59,0,2,...,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2937,2,2014-10-28,66,48,57,M,40,48,8,0,...,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [15]:
# There are 0.498 missing values from weather depart column
weather['depart'].value_counts(normalize=True)

M      0.498125
 2     0.031708
-1     0.028640
-2     0.027276
 5     0.026253
 1     0.025912
 7     0.025912
 3     0.025571
 0     0.025230
-3     0.024548
 4     0.024207
 6     0.022844
 8     0.020116
-5     0.019434
-4     0.019093
-6     0.017047
 9     0.016025
10     0.015684
-8     0.014661
-7     0.010228
12     0.009547
11     0.009547
-9     0.008524
13     0.007842
14     0.007501
-10    0.007501
15     0.005114
16     0.004091
-11    0.003409
-12    0.002728
17     0.002387
-14    0.002046
18     0.002046
-13    0.001705
19     0.001364
20     0.001364
-16    0.001023
-15    0.001023
22     0.001023
21     0.000682
-17    0.000682
23     0.000341
Name: depart, dtype: float64

In [16]:
# Check for null values in Weather
weather[weather.isnull().any(axis=1)]

Empty DataFrame
Columns: [station, date, tmax, tmin, tavg, depart, dewpoint, wetbulb, heat, cool, sunrise, sunset, codesum, depth, water1, snowfall, preciptotal, stnpressure, sealevel, resultspeed, resultdir, avgspeed]
Index: []

[0 rows x 22 columns]

In [17]:
weather.shape

(2933, 22)

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 12 columns):
date                      10506 non-null object
address                   10506 non-null object
species                   10506 non-null object
block                     10506 non-null int64
street                    10506 non-null object
trap                      10506 non-null object
addressnumberandstreet    10506 non-null object
latitude                  10506 non-null float64
longitude                 10506 non-null float64
addressaccuracy           10506 non-null int64
nummosquitos              10506 non-null int64
wnvpresent                10506 non-null int64
dtypes: float64(2), int64(4), object(6)
memory usage: 985.0+ KB

In [19]:
# Check for null values in train data
train[train.isnull().any(axis=1)]

Empty DataFrame
Columns: [date, address, species, block, street, trap, addressnumberandstreet, latitude, longitude, addressaccuracy, nummosquitos, wnvpresent]
Index: []

In [20]:
train.columns

Index(['date', 'address', 'species', 'block', 'street', 'trap',
       'addressnumberandstreet', 'latitude', 'longitude', 'addressaccuracy',
       'nummosquitos', 'wnvpresent'],
      dtype='object')

#### Leakage

The train dataset contains some duplicate trap records as traps with mosquito counts over 50 are entered in multiple rows.  We are dropping the duplicate rows below.  We do not drop from the test data because we need to predict every observation.

In [21]:
train.drop_duplicates(subset=['trap','date','species'], inplace=True)

In [22]:
# Convert dates to datetime
spray['date']   = pd.to_datetime(spray['date'])
weather['date'] = pd.to_datetime(weather['date'])
train['date']   = pd.to_datetime(train['date'])
test['date']    = pd.to_datetime(test['date'])

In [23]:
test['date'].head()

0   2008-06-11
1   2008-06-11
2   2008-06-11
3   2008-06-11
4   2008-06-11
Name: date, dtype: datetime64[ns]

In [24]:
spray.head()

        date   latitude  longitude
0 2011-08-29  42.391623 -88.089163
1 2011-08-29  42.391348 -88.089163
2 2011-08-29  42.391022 -88.089157
3 2011-08-29  42.390637 -88.089158
4 2011-08-29  42.390410 -88.088858

In [25]:
# Split dates into individual categories test file
test['year'] = [str(date)[0:4] for date in test.date]
test['month'] = [str(date)[5:7] for date in test.date]
test['day'] = [str(date)[8:10] for date in test.date]

In [26]:
# Split dates into individual categories train file
train['year'] = [str(date)[0:4] for date in train.date]
train['month'] = [str(date)[5:7] for date in train.date]
train['day'] = [str(date)[8:10] for date in train.date]

In [27]:
# Combine weather stations 1 and 2 based on date
weather1 = weather[weather['station'] == 1]
weather2 = weather[weather['station'] == 2]
weather1.drop(columns='station', inplace=True)
weather2.drop(columns='station', inplace=True)
weather = weather1.merge(weather2, on='date')

/Users/bryancombs/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/bryancombs/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [28]:
# Merge train and test datasets with weather dataset based on the date field
train=train.merge(weather, on='date')
test=test.merge(weather, on='date')

In [29]:
# Get rid of alpha characters in traps to create number field
train['trap']=[trap.replace("T","") for trap in train['trap']]
test['trap']=[trap.replace("T","") for trap in test['trap']]
train['trap']=[trap.replace("A","") for trap in train['trap']]
test['trap']=[trap.replace("A","") for trap in test['trap']]
train['trap']=[trap.replace("B","") for trap in train['trap']]
test['trap']=[trap.replace("B","") for trap in test['trap']]
train['trap']=[trap.replace("C","") for trap in train['trap']]
test['trap']=[trap.replace("C","") for trap in test['trap']]

In [30]:
# Change field type for trap from object to int in test and train
train['trap']=pd.to_numeric(train['trap'])
test['trap']=pd.to_numeric(test['trap'])

In [31]:
# Make dummy columns for species type in test and train
train=pd.get_dummies(train, columns=['species'], drop_first=True)
test=pd.get_dummies(test, columns=['species'], drop_first=True)

In [32]:
train.dtypes

date                              datetime64[ns]
address                                   object
block                                      int64
street                                    object
trap                                       int64
addressnumberandstreet                    object
latitude                                 float64
longitude                                float64
addressaccuracy                            int64
nummosquitos                               int64
wnvpresent                                 int64
year                                      object
month                                     object
day                                       object
tmax_x                                     int64
tmin_x                                     int64
tavg_x                                    object
depart_x                                  object
dewpoint_x                                 int64
wetbulb_x                                 object
heat_x                                    object
cool_x                                    object
sunrise_x                                 object
sunset_x                                  object
codesum_x                                 object
depth_x                                   object
water1_x                                  object
snowfall_x                                object
preciptotal_x                             object
stnpressure_x                             object
sealevel_x                                object
resultspeed_x                            float64
resultdir_x                                int64
avgspeed_x                                object
tmax_y                                     int64
tmin_y                                     int64
tavg_y                                    object
depart_y                                  object
dewpoint_y                                 int64
wetbulb_y                                 object
heat_y                                    object
cool_y                                    object
sunrise_y                                 object
sunset_y                                  object
codesum_y                                 object
depth_y                                   object
water1_y                                  object
snowfall_y                                object
preciptotal_y                             object
stnpressure_y                             object
sealevel_y                                object
resultspeed_y                            float64
resultdir_y                                int64
avgspeed_y                                object
species_CULEX PIPIENS                      uint8
species_CULEX PIPIENS/RESTUANS             uint8
species_CULEX RESTUANS                     uint8
species_CULEX SALINARIUS                   uint8
species_CULEX TARSALIS                     uint8
species_CULEX TERRITANS                    uint8
dtype: object

In [33]:
# Create lowercase characters and underscore species dummy columns
train.columns = [col.lower().replace(' ', '_') for col in train.columns]
test.columns = [col.lower().replace(' ', '_') for col in test.columns]

In [34]:
train['trap'].head()

0     2
1     2
2     7
3    15
4    15
Name: trap, dtype: int64

In [35]:
train['addressnumberandstreet'].head()

0    4100  N OAK PARK AVE, Chicago, IL
1    4100  N OAK PARK AVE, Chicago, IL
2     6200  N MANDELL AVE, Chicago, IL
3      7900  W FOSTER AVE, Chicago, IL
4      7900  W FOSTER AVE, Chicago, IL
Name: addressnumberandstreet, dtype: object

In [36]:
train['address'].head()

0    4100 North Oak Park Avenue, Chicago, IL 60634,...
1    4100 North Oak Park Avenue, Chicago, IL 60634,...
2    6200 North Mandell Avenue, Chicago, IL 60646, USA
3      7900 West Foster Avenue, Chicago, IL 60656, USA
4      7900 West Foster Avenue, Chicago, IL 60656, USA
Name: address, dtype: object

In [37]:
train['wnvpresent'].head()

0    0
1    0
2    0
3    0
4    0
Name: wnvpresent, dtype: int64

In [38]:
train['trap'].value_counts()

900    154
135    147
2      147
151    143
115    143
48     139
31     139
54     136
90     135
138    129
209    128
114    126
11     125
94     123
73     123
158    121
212    120
128    119
28     113
3      113
8      113
47     110
102    109
66     108
30     108
74     107
46     106
159    104
63     103
61     101
      ...
150     22
19      22
206     21
219     21
141     21
156     20
154     20
162     20
75      18
70      17
142     17
71      17
50      16
34      16
51      15
97      15
157     14
1       14
44      14
60      14
149     14
5       14
4       12
72      11
229      8
238      7
78       6
76       5
237      3
40       2
Name: trap, Length: 134, dtype: int64

In [39]:
test['trap'].value_counts()

90     3051
218    3051
2      2377
200    2291
54     1552
128    1534
65     1532
9      1528
94     1521
35     1520
900    1468
8       822
11      814
27      803
151     797
903     784
28      783
231     781
12      781
3       780
220     776
115     776
73      776
16      775
135     774
223     774
63      774
158     773
212     773
102     772
       ...
25      760
107     760
88      760
215     760
44      760
150     760
86      760
149     760
85      760
43      760
91      760
84      760
155     760
219     760
19      760
146     760
234     760
18      760
92      760
156     760
81      760
17      760
157     760
232     760
40      760
143     760
79      760
15      760
206     760
154     760
Name: trap, Length: 135, dtype: int64

In [40]:
# Change types of date fields in test and train
train['year'] = train['year'].astype(float)
test['year'] = test['year'].astype(float)
train['month'] = train['month'].astype(float)
test['month'] = test['month'].astype(float)
train['day'] = train['day'].astype(float)
test['day'] = test['day'].astype(float)

In [41]:
list = [12,24, 36, 47]
sum(list[0:3])/len(list)

18.0

### Geopy

Using Geopy, below we are using the latitude and longitude, based on the corresponding year, and creating a function that calculates the distance between positive West Nile Virus samples found in mosquitoes vs. the mosquitoes that did not test positive for the West Nile.  We repeated the process for each year in the train and test data, that will be used as features later on in our model.  The comments are the same for each function below

In [42]:
%%time

# Using 2007 Train data, find the distance between mosquitos that tested positive for WNV vs. those that did not

# Filter by year
distance_2007 = train[train['year'] == 2007.0]
features = ['latitude', 'longitude']

distance_2007 = distance_2007[features]
distance_2007 = distance_2007.apply(tuple, axis = 1)
train['wnvpresent'] = train['wnvpresent'].astype(float)

# Find if WNV present for year
westnile_2007 = (train[train['wnvpresent'] == 1]) 
westnile_2007 = westnile_2007[westnile_2007['year'] == 2007.0]
westnile_2007 = westnile_2007[features]
westnile_2007 = westnile_2007.apply(tuple, axis = 1)

# Iterate through each distance, and if it has WNV present, append it to list

results_2007   = []
results_2007_2 = []
results_2007_3 = []

for i in distance_2007:
    dists_2007 = []

    for j in westnile_2007:
        
       # Use Geopy to find the difference in distances, in miles 
        dist_2007 = (geodesic(i, j).miles)
        if dist_2007 > 0:
            dists_2007.append(dist_2007)
   # sort and add minimum and mean minumum distances
    dists_2007.sort()
    results_2007.append(min(dists_2007))
    results_2007_2.append(sum(dists_2007[0:3])/3)
    results_2007_3.append(sum(dists_2007[0:5])/5)
    
# Create dataframe    
train_2007=pd.DataFrame(results_2007, columns = ['distance'])
train_2007['distance_3']  = results_2007_2
train_2007['distance_5']  = results_2007_3                                              
train_07 = train[train['year'] == 2007]
train_07.reset_index(inplace = True)
train_7 = pd.concat([train_07, train_2007], axis = 1)

CPU times: user 1min 4s, sys: 37.6 ms, total: 1min 4s
Wall time: 1min 4s

In [43]:
train_7.head()

,index,date,address,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,...,avgspeed_y,species_culex_pipiens,species_culex_pipiens/restuans,species_culex_restuans,species_culex_salinarius,species_culex_tarsalis,species_culex_territans,distance,distance_3,distance_5
0,0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,7.4,0,1,0,0,0,0,1.050839,1.117797,1.176855
1,1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,7.4,0,0,1,0,0,0,1.050839,1.117797,1.176855
2,2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",62,N MANDELL AVE,7,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,...,7.4,0,0,1,0,0,0,1.021493,1.021493,1.050681
3,3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,7.4,0,1,0,0,0,0,0.822410,0.822410,1.218078
4,4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,7.4,0,0,1,0,0,0,0.822410,0.822410,1.218078

In [44]:
%%time

# Using 2009 Train data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2009 = train[train['year'] == 2009.0]
features = ['latitude', 'longitude']

distance_2009 = distance_2009[features]
distance_2009 = distance_2009.apply(tuple, axis = 1)
train['wnvpresent'] = train['wnvpresent'].astype(float)

westnile_2009 = (train[train['wnvpresent'] == 1]) 
westnile_2009 = westnile_2009[westnile_2009['year'] == 2009.0]
westnile_2009 = westnile_2009[features]
westnile_2009 = westnile_2009.apply(tuple, axis = 1)
westnile_2009.head()

results_2009   = []
results_2009_2 = []
results_2009_3 = []

for i in distance_2009:
    dists_2009 = []

    for j in westnile_2009:

        dist_2009 = (geodesic(i, j).miles)
        if dist_2009 > 0:
            dists_2009.append(dist_2009)
    
    results_2009.append(min(dists_2009))
    results_2009_2.append(sum(dists_2009[0:3])/3)
    results_2009_3.append(sum(dists_2009[0:5])/5)
    
# Create dataframe    
train_2009=pd.DataFrame(results_2009, columns = ['distance'])
train_2009['distance_3']  = results_2009_2
train_2009['distance_5']  = results_2009_3

train_09 = train[train['year'] == 2009]
train_09.reset_index(inplace = True)
train_9 = pd.concat([train_09, train_2009], axis = 1)

CPU times: user 4.73 s, sys: 4.06 ms, total: 4.74 s
Wall time: 4.74 s

In [45]:
%%time

# Using 2011 Train data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2011 = train[train['year'] == 2011.0]
features = ['latitude', 'longitude']

distance_2011 = distance_2011[features]
distance_2011 = distance_2011.apply(tuple, axis = 1)
train['wnvpresent'] = train['wnvpresent'].astype(float)

westnile_2011 = (train[train['wnvpresent'] == 1]) 
westnile_2011 = westnile_2011[westnile_2011['year'] == 2011.0]
westnile_2011 = westnile_2011[features]
westnile_2011 = westnile_2011.apply(tuple, axis = 1)
westnile_2011.head()


results_2011   = []
results_2011_2 = []
results_2011_3 = []

for i in distance_2011:
    dists_2011 = []

    for j in westnile_2011:

        dist_2011 = (geodesic(i, j).miles)
        if dist_2011 > 0:
            dists_2011.append(dist_2011)
   
    results_2011.append(min(dists_2011))
    results_2011_2.append(sum(dists_2011[0:3])/3)
    results_2011_3.append(sum(dists_2011[0:5])/5)
    
# Create dataframe    
train_2011=pd.DataFrame(results_2011, columns = ['distance'])
train_2011['distance_3']  = results_2011_2
train_2011['distance_5']  = results_2011_3                                              
train_11 = train[train['year'] == 2011]
train_11.reset_index(inplace = True)
train_1 = pd.concat([train_11, train_2011], axis = 1)

CPU times: user 10.3 s, sys: 8.84 ms, total: 10.3 s
Wall time: 10.3 s

In [46]:
%%time

# Using 2013 Train data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2013 = train[train['year'] == 2013.0]
features = ['latitude', 'longitude']

distance_2013 = distance_2013[features]
distance_2013 = distance_2013.apply(tuple, axis = 1)
train['wnvpresent'] = train['wnvpresent'].astype(float)

westnile_2013 = (train[train['wnvpresent'] == 1]) 
westnile_2013 = westnile_2013[westnile_2013['year'] == 2013.0]
westnile_2013 = westnile_2013[features]
westnile_2013 = westnile_2013.apply(tuple, axis = 1)
westnile_2013.head()


results_2013   = []
results_2013_2 = []
results_2013_3 = []

for i in distance_2013:
    dists_2013 = []

    for j in westnile_2013:

        dist_2013 = (geodesic(i, j).miles)
        if dist_2013 > 0:
            dists_2013.append(dist_2013)
   
    results_2013.append(min(dists_2013))
    results_2013_2.append(sum(dists_2013[0:3])/3)
    results_2013_3.append(sum(dists_2013[0:5])/5)
    
# Create dataframe    
train_2013=pd.DataFrame(results_2013, columns = ['distance'])
train_2013['distance_3']  = results_2013_2
train_2013['distance_5']  = results_2013_3                                              
train_13 = train[train['year'] == 2013]
train_13.reset_index(inplace = True)
train_3 = pd.concat([train_13, train_2013], axis = 1)

CPU times: user 56.8 s, sys: 24.2 ms, total: 56.8 s
Wall time: 56.8 s

In [47]:
distance_2013.shape

(2012,)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print())? (<ipython-input-48-f7f5dc6bf9bd>, line 1)

In [49]:
# Take each year of train distance data just calculated and add to new df
list = [train_7, train_9, train_1, train_3]
train_new = pd.concat(list, axis = 0, )
train_new

,index,date,address,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,...,avgspeed_y,species_culex_pipiens,species_culex_pipiens/restuans,species_culex_restuans,species_culex_salinarius,species_culex_tarsalis,species_culex_territans,distance,distance_3,distance_5
0,0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,7.4,0,1,0,0,0,0,1.050839,1.117797,1.176855
1,1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,7.4,0,0,1,0,0,0,1.050839,1.117797,1.176855
2,2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",62,N MANDELL AVE,7,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,...,7.4,0,0,1,0,0,0,1.021493,1.021493,1.050681
3,3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,7.4,0,1,0,0,0,0,0.822410,0.822410,1.218078
4,4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,7.4,0,0,1,0,0,0,0.822410,0.822410,1.218078
5,5,2007-05-29,"1500 West Webster Avenue, Chicago, IL 60614, USA",15,W WEBSTER AVE,45,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8,...,7.4,0,0,1,0,0,0,1.706440,1.706440,1.807555
6,6,2007-05-29,"2500 West Grand Avenue, Chicago, IL 60654, USA",25,W GRAND AVE,46,"2500 W GRAND AVE, Chicago, IL",41.891118,-87.654491,8,...,7.4,0,0,1,0,0,0,0.358443,1.191190,1.388980
7,7,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",11,W ROOSEVELT,48,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,...,7.4,0,1,0,0,0,0,0.432500,0.853708,1.400547
8,8,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",11,W ROOSEVELT,48,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,...,7.4,0,0,1,0,0,0,0.432500,0.853708,1.400547
9,9,2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",11,W CHICAGO,49,"1100 W CHICAGO, Chicago, IL",41.896282,-87.655232,8,...,7.4,0,0,1,0,0,0,1.765359,1.765359,1.790267
10,10,2007-05-29,"2100 North Stave Street, Chicago, IL 60647, USA",21,N STAVE ST,50,"2100 N STAVE ST, Chicago, IL",41.919343,-87.694259,8,...,7.4,0,1,0,0,0,0,0.951617,1.024191,1.082251
11,11,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",22,N CANNON DR,54,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,...,7.4,0,1,0,0,0,0,1.771749,1.893438,2.377459
12,12,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",22,N CANNON DR,54,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,...,7.4,0,0,1,0,0,0,1.771749,1.893438,2.377459
13,13,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",22,W 113TH ST,86,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,...,7.4,0,1,0,0,0,0,1.781987,2.273116,2.520826
14,14,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",22,W 113TH ST,86,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,...,7.4,0,0,1,0,0,0,1.781987,2.273116,2.520826
15,15,2007-05-29,"1100 South Peoria Street, Chicago, IL 60608, USA",11,S PEORIA ST,91,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8,...,7.4,0,0,1,0,0,0,0.432500,0.625917,1.132208
16,16,2007-05-29,"1700 West 95th Street, Chicago, IL 60643, USA",17,W 95TH ST,94,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9,...,7.4,0,0,1,0,0,0,0.845213,0.914188,0.935808
17,17,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",22,W 89TH ST,96,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,...,7.4,0,0,1,0,0,0,0.968237,1.284502,1.416835
18,18,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",22,W 89TH ST,96,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,...,7.4,1,0,0,0,0,0,0.968237,1.284502,1.416835
19,19,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",53,N STREETER DR,129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,...,7.4,0,1,0,0,0,0,1.300468,2.111816,2.371690
20,20,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",53,N STREETER DR,129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,...,7.4,0,0,1,0,0,0,1.300468,2.111816,2.371690
21,21,2007-05-29,"6500 North Oak Park Avenue, Chicago, IL 60631,...",65,N OAK PARK AVE,143,"6500 N OAK PARK AVE, Chicago, IL",41.999129,-87.795585,8,...,7.4,0,1,0,0,0,0,0.615602,0.615602,0.714176
22,22,2007-05-29,"7500 North Oakley Avenue, Chicago, IL 60645, USA",75,N OAKLEY AVE,148,"7500 N OAKLEY AVE, Chicago, IL",42.017430,-87.687769,8,...,7.4,0,1,0,0,0,0,2.108201,2.586458,2.999495
23,23,2007-05-29,"1500 North Long Avenue, Chicago, IL 60651, USA",15,N LONG AVE,153,"1500 N LONG AVE, Chicago, IL",41.907645,-87.760886,8,...,7.4,0,0,1,0,0,0,0.881620,1.182406,1.534884
24,24,2007-05-29,"8900 South Carpenter Street, Chicago, IL 60620...",89,S CARPENTER ST,159,"8900 S CARPENTER ST, Chicago, IL",41.732984,-87.649642,8,...,7.4,0,0,1,0,0,0,0.675795,0.888372,1.110077
25,25,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,8.1,0,1,0,0,0,0,1.050839,1.117797,1.176855
26,26,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,8.1,0,0,1,0,0,0,1.050839,1.117797,1.176855
27,27,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,8.1,1,0,0,0,0,0,1.050839,1.117797,1.176855
28,28,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,8.1,0,1,0,0,0,0,0.822410,0.822410,1.218078
29,29,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,8.1,0,0,1,0,0,0,0.822410,0.822410,1.218078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982,8445,2013-09-26,"3700 118th Street, Chicago, IL 60617, USA",37,E 118TH ST,212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,...,4.6,1,0,0,0,0,0,1.517661,7.722501,14.966895
1983,8446,2013-09-26,"2400 East 105th Street, Chicago, IL 60617, USA",24,E 105TH ST,128,"2400 E 105TH ST, Chicago, IL",41.704572,-87.565666,8,...,4.6,0,1,0,0,0,0,2.461126,5.863216,12.978478
1984,8447,2013-09-26,"2400 East 105th Street, Chicago, IL 60617, USA",24,E 105TH ST,128,"2400 E 105TH ST, Chicago, IL",41.704572,-87.565666,8,...,4.6,1,0,0,0,0,0,2.461126,5.863216,12.978478
1985,8448,2013-09-26,"8900 South Muskegon Avenue, Chicago, IL 60617,...",89,S MUSKEGON AVE,99,"8900 S MUSKEGON AVE, Chicago, IL",41.733643,-87.555510,8,...,4.6,0,1,0,0,0,0,2.073902,6.427860,12.720018
1986,8449,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",10,S COTTAGE GROVE,102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,...,4.6,0,1,0,0,0,0,0.488413,4.473500,10.642850
1987,8450,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",10,S COTTAGE GROVE,102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,...,4.6,0,0,1,0,0,0,0.488413,4.473500,10.642850
1988,8451,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",10,S COTTAGE GROVE,102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,...,4.6,1,0,0,0,0,0,0.488413,4.473500,10.642850
1989,8452,2013-09-26,"5800 North Pulaski Road, Chicago, IL 60646, USA",58,N PULASKI RD,27,"5800 N PULASKI RD, Chicago, IL",41.984809,-87.728492,8,...,4.6,1,0,0,0,0,0,1.062105,19.078422,12.654213
1990,8453,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",40,E 130TH ST,221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,...,4.6,0,1,0,0,0,0,3.315641,8.142897,15.717510
1991,8454,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",40,E 130TH ST,221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,...,4.6,0,0,1,0,0,0,3.315641,8.142897,15.717510
1992,8455,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",40,E 130TH ST,221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,...,4.6,1,0,0,0,0,0,3.315641,8.142897,15.717510
1993,8456,2013-09-26,"9100 West Higgins Road, Rosemont, IL 60018, USA",91,W HIGGINS RD,9,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,...,4.6,0,0,1,0,0,0,1.878893,21.726991,14.841791
1994,8457,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",10,W OHARE AIRPORT,900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,4.6,0,1,0,0,0,0,1.878893,21.355579,15.313055
1995,8458,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",10,W OHARE AIRPORT,900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,4.6,1,0,0,0,0,0,1.878893,21.355579,15.313055
1996,8459,2013-09-26,"4800 West Montana Street, Chicago, IL 60639, USA",48,W MONTANA ST,222,"4800 W MONTANA ST, Chicago, IL",41.925198,-87.746381,8,...,4.6,0,1,0,0,0,0,1.370150,15.245449,11.532088
1997,8460,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",51,N MONT CLARE AVE,223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,...,4.6,0,1,0,0,0,0,1.338530,19.350259,12.713743
1998,8461,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",51,N MONT CLARE AVE,223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,...,4.6,1,0,0,0,0,0,1.338530,19.350259,12.713743
1999,8462,2013-09-26,"8200 South Kostner Avenue, Chicago, IL 60652, USA",82,S KOSTNER AVE,225,"8200 S KOSTNER AVE, Chicago, IL",41.743402,-87.731435,8,...,4.6,0,1,0,0,0,0,1.511354,4.126896,9.852054
2000,8463,2013-09-26,"East 91st Place, Chicago, IL, USA",65,E 91ST PL,227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,...,4.6,0,1,0,0,0,0,1.534942,4.105693,11.007773
2001,8464,2013-09-26,"East 91st Place, Chicago, IL, USA",65,E 91ST PL,227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,...,4.6,1,0,0,0,0,0,1.534942,4.105693,11.007773
2002,8465,2013-09-26,"1700 West Addison Street, Chicago, IL 60613, USA",17,W ADDISON ST,224,"1700 W ADDISON ST, Chicago, IL",41.947227,-87.671457,9,...,4.6,0,1,0,0,0,0,1.560661,16.272169,12.529850
2003,8466,2013-09-26,"West Garfield Boulevard, Chicago, IL, USA",90,W GARFIELD BLVD,226,"9000 W GARFIELD BLVD, Chicago, IL",41.793818,-87.654234,5,...,4.6,0,1,0,0,0,0,0.881458,5.813841,9.935911
2004,8467,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",13,N LARAMIE AVE,230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,...,4.6,0,1,0,0,0,0,1.534692,14.003633,11.311392
2005,8468,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",13,N LARAMIE AVE,230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,...,4.6,1,0,0,0,0,0,1.534692,14.003633,11.311392
2006,8469,2013-09-26,"3900 North Springfield Avenue, Chicago, IL 606...",39,N SPRINGFIELD AVE,228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,4.6,0,1,0,0,0,0,1.874470,16.812495,11.988620
2007,8470,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",51,W 72ND ST,35,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,...,4.6,0,1,0,0,0,0,1.132729,5.347756,10.000554
2008,8471,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",58,N RIDGE AVE,231,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,...,4.6,0,1,0,0,0,0,1.221217,19.032860,13.795228
2009,8472,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",17,N ASHLAND AVE,232,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,...,4.6,0,1,0,0,0,0,1.768586,13.889021,11.813690
2010,8473,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",71,N HARLEM AVE,233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,...,4.6,0,1,0,0,0,0,1.514904,21.722468,13.639443
2011,8474,2013-09-26,"4200 West 65th Street, Chicago, IL 60621, USA",42,W 65TH ST,235,"4200 W 65TH ST, Chicago, IL",41.776428,-87.627096,8,...,4.6,0,1,0,0,0,0,1.372408,5.085587,10.168865

In [50]:
train.shape

(8475, 60)

### Repeating the Geopy process with the Test Data

In [51]:
# test['distance'] = 0

In [52]:
%%time

# Using 2008 Test data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2008 = test[test['year'] == 2008.0]
features = ['latitude', 'longitude']

distance_2008 = distance_2008[features]
distance_2008 = distance_2008.apply(tuple, axis = 1)

westnile_2007 = (train[train['wnvpresent'] == 1]) 
westnile_2007 = westnile_2007[westnile_2007['year'] == 2007.0]
westnile_2007 = westnile_2007[features]
westnile_2007 = westnile_2007.apply(tuple, axis = 1)


results_2008   = []
results_2008_2 = []
results_2008_3 = []

for i in distance_2008:
    dists_2008 = []

    for j in westnile_2007:

        dist_2008 = (geodesic(i, j).miles)
        if dist_2008 > 0:
            dists_2008.append(dist_2008)
    
    
    results_2008.append(min(dists_2008))
    results_2008_2.append(sum(dists_2008[0:3])/3)
    results_2008_3.append(sum(dists_2008[0:5])/5)
    
# Create dataframe    
test_2008=pd.DataFrame(results_2008, columns = ['distance'])
test_2008['distance_3']  = results_2008_2
test_2008['distance_5']  = results_2008_3                                              
test_08 = test[test['year'] == 2008]
test_08.reset_index(inplace = True)
test_8 = pd.concat([test_08, test_2008], axis = 1)

CPU times: user 11min 53s, sys: 553 ms, total: 11min 54s
Wall time: 15min 25s

In [53]:
%%time

# Using 2010 Test data, find the distance between mosquitos that tested positive for WNV vs. those that did not


distance_2010 = test[test['year'] == 2010.0]
features = ['latitude', 'longitude']

distance_2010 = distance_2010[features]
distance_2010 = distance_2010.apply(tuple, axis = 1)

westnile_2009 = (train[train['wnvpresent'] == 1]) 
westnile_2009 = westnile_2009[westnile_2009['year'] == 2007.0]
westnile_2009 = westnile_2009[features]
westnile_2009 = westnile_2009.apply(tuple, axis = 1)


results_2010   = []
results_2010_2 = []
results_2010_3 = []

for i in distance_2010:
    dists_2010= []

    for j in westnile_2009:

        dist_2010 = (geodesic(i, j).miles)
        if dist_2010 > 0:
            dists_2010.append(dist_2010)
   
    results_2010.append(min(dists_2010))
    results_2010_2.append(sum(dists_2010[0:3])/3)
    results_2010_3.append(sum(dists_2010[0:5])/5)
    
# Create dataframe    
test_2010=pd.DataFrame(results_2010, columns = ['distance'])
test_2010['distance_3']  = results_2010_2
test_2010['distance_5']  = results_2010_3                                              
test_10 = test[test['year'] == 2010]
test_10.reset_index(inplace = True)
test_0 = pd.concat([test_10, test_2010], axis = 1)

CPU times: user 14min 9s, sys: 588 ms, total: 14min 10s
Wall time: 14min 10s

In [55]:
%%time

# Using 2012 Test data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2012 = test[test['year'] == 2012.0]
features = ['latitude', 'longitude']

distance_2012 = distance_2012[features]
distance_2012 = distance_2012.apply(tuple, axis = 1)


westnile_2011 = (train[train['wnvpresent'] == 1]) 
westnile_2011 = westnile_2011[westnile_2011['year'] == 2011.0]
westnile_2011 = westnile_2011[features]
westnile_2011 = westnile_2011.apply(tuple, axis = 1)

results_2012   = []
results_2012_2 = []
results_2012_3 = []

for i in distance_2012:
    dists_2012 = []

    for j in westnile_2011:

        dist_2012 = (geodesic(i, j).miles)
        if dist_2012 > 0:
            dists_2012.append(dist_2012)
   
    results_2012.append(min(dists_2012))
    results_2012_2.append(sum(dists_2012[0:3])/3)
    results_2012_3.append(sum(dists_2012[0:5])/5)
    
# Create dataframe    
test_2012=pd.DataFrame(results_2012, columns = ['distance'])
test_2012['distance_3']  = results_2012_2
test_2012['distance_5']  = results_2012_3                                              
test_12 = test[test['year'] == 2012]
test_12.reset_index(inplace = True)
test_2 = pd.concat([test_12, test_2012], axis = 1)

CPU times: user 2min 36s, sys: 80 ms, total: 2min 36s
Wall time: 2min 36s

In [54]:
%%time

# Using 2014 Test data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2014 = test[test['year'] == 2014.0]
features = ['latitude', 'longitude']

distance_2014 = distance_2014[features]
distance_2014 = distance_2014.apply(tuple, axis = 1)

westnile_2013 = (train[train['wnvpresent'] == 1]) 
westnile_2013 = westnile_2013[westnile_2013['year'] == 2013.0]
westnile_2013 = westnile_2013[features]
westnile_2013 = westnile_2013.apply(tuple, axis = 1)

results_2014   = []
results_2014_2 = []
results_2014_3 = []
for i in distance_2014:
    dists_2014 = []

    for j in westnile_2013:

        dist_2014 = (geodesic(i, j).miles)
        if dist_2014 > 0:
            dists_2014.append(dist_2014)
   
    results_2014.append(min(dists_2014))
    results_2014_2.append(sum(dists_2014[0:3])/3)
    results_2014_3.append(sum(dists_2014[0:5])/5)
    
# Create dataframe    
test_2014=pd.DataFrame(results_2014, columns = ['distance'])
test_2014['distance_3']  = results_2014_2
test_2014['distance_5']  = results_2014_3                                              
test_14 = test[test['year'] == 2014]
test_14.reset_index(inplace = True)
test_4 = pd.concat([test_14, test_2014], axis = 1)

CPU times: user 10min 24s, sys: 441 ms, total: 10min 24s
Wall time: 13min 30s

In [56]:
# Take each year of test distance data just calculated and add to new df
list = [test_8, test_0, test_2, test_4]
test_new = pd.concat(list, axis = 0)
test_new.head()

,index,id,date,address,block,street,trap,addressnumberandstreet,latitude,longitude,...,species_culex_pipiens,species_culex_pipiens/restuans,species_culex_restuans,species_culex_salinarius,species_culex_tarsalis,species_culex_territans,species_unspecified_culex,distance,distance_3,distance_5
0,0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,0,1,0,0,0,0,0,1.050839,10.042778,8.721685
1,1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,0,0,1,0,0,0,0,1.050839,10.042778,8.721685
2,2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,1,0,0,0,0,0,0,1.050839,10.042778,8.721685
3,3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,0,0,0,1,0,0,0,1.050839,10.042778,8.721685
4,4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,0,0,0,0,0,1,0,1.050839,10.042778,8.721685

In [58]:
test_new

,index,id,date,address,block,street,trap,addressnumberandstreet,latitude,longitude,...,species_culex_pipiens,species_culex_pipiens/restuans,species_culex_restuans,species_culex_salinarius,species_culex_tarsalis,species_culex_territans,species_unspecified_culex,distance,distance_3,distance_5
0,0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,0,1,0,0,0,0,0,1.050839,10.042778,8.721685
1,1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,0,0,1,0,0,0,0,1.050839,10.042778,8.721685
2,2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,1,0,0,0,0,0,0,1.050839,10.042778,8.721685
3,3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,0,0,0,1,0,0,0,1.050839,10.042778,8.721685
4,4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,0,0,0,0,0,1,0,1.050839,10.042778,8.721685
5,5,6,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,0,0,0,0,1,0,0,1.050839,10.042778,8.721685
6,6,7,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,0,0,0,0,0,0,1,1.050839,10.042778,8.721685
7,7,8,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,0,0,0,0,0,0,0,1.050839,10.042778,8.721685
8,8,9,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",62,N MANDELL AVE,7,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,0,1,0,0,0,0,0,1.021493,9.548328,9.526683
9,9,10,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",62,N MANDELL AVE,7,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,0,0,1,0,0,0,0,1.021493,9.548328,9.526683
10,10,11,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",62,N MANDELL AVE,7,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,1,0,0,0,0,0,0,1.021493,9.548328,9.526683
11,11,12,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",62,N MANDELL AVE,7,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,0,0,0,1,0,0,0,1.021493,9.548328,9.526683
12,12,13,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",62,N MANDELL AVE,7,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,0,0,0,0,0,1,0,1.021493,9.548328,9.526683
13,13,14,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",62,N MANDELL AVE,7,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,0,0,0,0,1,0,0,1.021493,9.548328,9.526683
14,14,15,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",62,N MANDELL AVE,7,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,0,0,0,0,0,0,1,1.021493,9.548328,9.526683
15,15,16,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",62,N MANDELL AVE,7,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,0,0,0,0,0,0,0,1.021493,9.548328,9.526683
16,16,17,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,...,0,1,0,0,0,0,0,0.822410,10.804713,9.847368
17,17,18,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,...,0,0,1,0,0,0,0,0.822410,10.804713,9.847368
18,18,19,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,...,1,0,0,0,0,0,0,0.822410,10.804713,9.847368
19,19,20,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,...,0,0,0,1,0,0,0,0.822410,10.804713,9.847368
20,20,21,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,...,0,0,0,0,0,1,0,0.822410,10.804713,9.847368
21,21,22,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,...,0,0,0,0,1,0,0,0.822410,10.804713,9.847368
22,22,23,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,...,0,0,0,0,0,0,1,0.822410,10.804713,9.847368
23,23,24,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",79,W FOSTER AVE,15,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,...,0,0,0,0,0,0,0,0.822410,10.804713,9.847368
24,24,25,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",15,W WEBSTER AVE,45,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,...,0,1,0,0,0,0,0,1.706440,9.887383,9.448727
25,25,26,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",15,W WEBSTER AVE,45,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,...,0,0,1,0,0,0,0,1.706440,9.887383,9.448727
26,26,27,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",15,W WEBSTER AVE,45,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,...,1,0,0,0,0,0,0,1.706440,9.887383,9.448727
27,27,28,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",15,W WEBSTER AVE,45,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,...,0,0,0,1,0,0,0,1.706440,9.887383,9.448727
28,28,29,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",15,W WEBSTER AVE,45,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,...,0,0,0,0,0,1,0,1.706440,9.887383,9.448727
29,29,30,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",15,W WEBSTER AVE,45,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,...,0,0,0,0,1,0,0,1.706440,9.887383,9.448727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22093,116263,116264,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",34,W 77TH ST,238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,...,1,0,0,0,0,0,0,1.280684,3.762924,9.444132
22094,116264,116265,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",34,W 77TH ST,238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,...,0,0,0,1,0,0,0,1.280684,3.762924,9.444132
22095,116265,116266,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",34,W 77TH ST,238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,...,0,0,0,0,0,1,0,1.280684,3.762924,9.444132
22096,116266,116267,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",34,W 77TH ST,238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,...,0,0,0,0,1,0,0,1.280684,3.762924,9.444132
22097,116267,116268,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",34,W 77TH ST,238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,...,0,0,0,0,0,0,1,1.280684,3.762924,9.444132
22098,116268,116269,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",34,W 77TH ST,238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,...,0,0,0,0,0,0,0,1.280684,3.762924,9.444132
22099,116269,116270,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",51,W 63RD PL,65,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,...,0,1,0,0,0,0,0,0.173659,6.238309,10.137353
22100,116270,116271,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",51,W 63RD PL,65,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,...,0,0,1,0,0,0,0,0.173659,6.238309,10.137353
22101,116271,116272,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",51,W 63RD PL,65,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,...,1,0,0,0,0,0,0,0.173659,6.238309,10.137353
22102,116272,116273,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",51,W 63RD PL,65,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,...,0,0,0,1,0,0,0,0.173659,6.238309,10.137353
22103,116273,116274,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",51,W 63RD PL,65,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,...,0,0,0,0,0,1,0,0.173659,6.238309,10.137353
22104,116274,116275,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",51,W 63RD PL,65,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,...,0,0,0,0,1,0,0,0.173659,6.238309,10.137353
22105,116275,116276,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",51,W 63RD PL,65,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,...,0,0,0,0,0,0,1,0.173659,6.238309,10.137353
22106,116276,116277,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",51,W 63RD PL,65,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,...,0,0,0,0,0,0,0,0.173659,6.238309,10.137353
22107,116277,116278,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",96,S LONGWOOD DR,94,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,0,1,0,0,0,0,0,0.217060,1.610928,9.257014
22108,116278,116279,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",96,S LONGWOOD DR,94,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,0,0,1,0,0,0,0,0.217060,1.610928,9.257014
22109,116279,116280,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",96,S LONGWOOD DR,94,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,1,0,0,0,0,0,0,0.217060,1.610928,9.257014
22110,116280,116281,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",96,S LONGWOOD DR,94,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,0,0,0,1,0,0,0,0.217060,1.610928,9.257014
22111,116281,116282,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",96,S LONGWOOD DR,94,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,0,0,0,0,0,1,0,0.217060,1.610928,9.257014
22112,116282,116283,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",96,S LONGWOOD DR,94,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,0,0,0,0,1,0,0,0.217060,1.610928,9.257014
22113,116283,116284,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",96,S LONGWOOD DR,94,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,0,0,0,0,0,0,1,0.217060,1.610928,9.257014
22114,116284,116285,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",96,S LONGWOOD DR,94,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,0,0,0,0,0,0,0,0.217060,1.610928,9.257014
22115,116285,116286,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",21,N CANNON DR,54,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,0,1,0,0,0,0,0,0.266026,14.921895,12.701521
22116,116286,116287,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",21,N CANNON DR,54,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,0,0,1,0,0,0,0,0.266026,14.921895,12.701521
22117,116287,116288,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",21,N CANNON DR,54,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,1,0,0,0,0,0,0,0.266026,14.921895,12.701521
22118,116288,116289,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",21,N CANNON DR,54,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,0,0,0,1,0,0,0,0.266026,14.921895,12.701521
22119,116289,116290,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",21,N CANNON DR,54,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,0,0,0,0,0,1,0,0.266026,14.921895,12.701521
22120,116290,116291,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",21,N CANNON DR,54,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,0,0,0,0,1,0,0,0.266026,14.921895,12.701521
22121,116291,116292,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",21,N CANNON DR,54,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,0,0,0,0,0,0,1,0.266026,14.921895,12.701521
22122,116292,116293,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",21,N CANNON DR,54,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,0,0,0,0,0,0,0,0.266026,14.921895,12.701521

In [ ]:
test_new.shape

In [ ]:
train_new.shape

In [ ]:
# Save cleaned files
spray.to_csv('../project_work/data/sprayclean.csv', index=False)
weather.to_csv('../project_work/data/weatherclean.csv', index=False)
train_new.to_csv('../project_work/data/trainclean.csv', index=False)
test_new.to_csv('../project_work/data/testclean.csv', index=False)