## Exploratory Data Analysis ##
Although sensitivity seems an appropriate metric to us considering that false positives would not be detrimental to the city, our metric is accuracy based on the Kaggle competition.

In [12]:
# Installed geopy, which is a tool to help determine distances between objects.  We used this below to determine
# the distance between if West Nile Virus is presenet to those cases it wasn't, by year
!pip install geopy

Requirement already satisfied: geopy in /Users/samlundberg/anaconda3/lib/python3.6/site-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/samlundberg/anaconda3/lib/python3.6/site-packages (from geopy) (1.49)

In [13]:
# Import libraries
import pandas as pd
import seaborn as sns
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web
from datetime import datetime
import matplotlib.pyplot as plt
from geopy.distance import geodesic
import time

In [14]:
# Import csv data files and assign to variable
spray = pd.read_csv('./data/spray.csv')
weather = pd.read_csv('./data/weather.csv')
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [15]:
# Use the imported column names and lowercase all letters and add an underscore where spaces exist between words
train.columns = [col.lower().replace(' ', '_') for col in train.columns]
test.columns = [col.lower().replace(' ', '_') for col in test.columns]
spray.columns = [col.lower().replace(' ', '_') for col in spray.columns]
weather.columns = [col.lower().replace(' ', '_') for col in weather.columns]

In [16]:
#create baseline file to upload to Kaggle
baseline=test.loc[:,("id")]
baseline['wnvpresent'] = 0
baseline.to_csv('./Data/baselinesubmission.csv', index=False)

/Users/samlundberg/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

#### Baseline Score

We created a baseline file, where there were no West Nile Virus predictions made (all zero's), to upload to Kaggle to get an idea what the score would be, according to their measurements.  While it turned out that our score was .50, that wasn't much of a surprise since a mosquito either has West Nile or does not.

In [17]:
#baseline on train
1-train['wnvpresent'].mean()

0.9475537787930707

In [18]:
spray.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
date         14835 non-null object
time         14251 non-null object
latitude     14835 non-null float64
longitude    14835 non-null float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [19]:
#looked for null values in spray dataset
spray[spray.isnull().any(axis=1)]

            date time   latitude  longitude
1030  2011-09-07  NaN  41.987092 -87.794286
1031  2011-09-07  NaN  41.987620 -87.794382
1032  2011-09-07  NaN  41.988004 -87.794574
1033  2011-09-07  NaN  41.988292 -87.795486
1034  2011-09-07  NaN  41.988100 -87.796014
1035  2011-09-07  NaN  41.986372 -87.794862
1036  2011-09-07  NaN  41.986228 -87.795582
1037  2011-09-07  NaN  41.984836 -87.793998
1038  2011-09-07  NaN  41.984836 -87.794670
1039  2011-09-07  NaN  41.984884 -87.795198
1040  2011-09-07  NaN  41.982820 -87.793182
1041  2011-09-07  NaN  41.982772 -87.793950
1042  2011-09-07  NaN  41.982772 -87.795006
1043  2011-09-07  NaN  41.983444 -87.795246
1044  2011-09-07  NaN  41.984068 -87.795438
1045  2011-09-07  NaN  41.984596 -87.795534
1046  2011-09-07  NaN  41.984980 -87.795630
1047  2011-09-07  NaN  41.986708 -87.796110
1048  2011-09-07  NaN  41.987524 -87.796302
1049  2011-09-07  NaN  41.988820 -87.796638
1050  2011-09-07  NaN  41.989444 -87.796830
1051  2011-09-07  NaN  41.990068 -87.796974
1052  2011-09-07  NaN  41.988244 -87.797022
1053  2011-09-07  NaN  41.988196 -87.797742
1054  2011-09-07  NaN  41.988196 -87.798366
1055  2011-09-07  NaN  41.988196 -87.798942
1056  2011-09-07  NaN  41.988196 -87.799422
1057  2011-09-07  NaN  41.986372 -87.796494
1058  2011-09-07  NaN  41.986372 -87.797310
1059  2011-09-07  NaN  41.986372 -87.798030
...          ...  ...        ...        ...
1584  2011-09-07  NaN  41.992372 -87.816367
1585  2011-09-07  NaN  41.992468 -87.815839
1586  2011-09-07  NaN  41.992516 -87.815311
1587  2011-09-07  NaN  41.992564 -87.814735
1588  2011-09-07  NaN  41.992612 -87.814303
1589  2011-09-07  NaN  41.992612 -87.813775
1590  2011-09-07  NaN  41.992612 -87.813343
1591  2011-09-07  NaN  41.992660 -87.812767
1592  2011-09-07  NaN  41.992660 -87.812191
1593  2011-09-07  NaN  41.992612 -87.811663
1594  2011-09-07  NaN  41.992660 -87.811279
1595  2011-09-07  NaN  41.992660 -87.810847
1596  2011-09-07  NaN  41.992612 -87.810415
1597  2011-09-07  NaN  41.992660 -87.809455
1598  2011-09-07  NaN  41.992660 -87.809983
1599  2011-09-07  NaN  41.992708 -87.808927
1600  2011-09-07  NaN  41.992708 -87.808399
1601  2011-09-07  NaN  41.992756 -87.807775
1602  2011-09-07  NaN  41.992756 -87.807199
1603  2011-09-07  NaN  41.996164 -87.813727
1604  2011-09-07  NaN  41.995732 -87.813679
1605  2011-09-07  NaN  41.994916 -87.813727
1606  2011-09-07  NaN  41.992948 -87.813775
1607  2011-09-07  NaN  41.996644 -87.811567
1608  2011-09-07  NaN  41.996260 -87.811567
1609  2011-09-07  NaN  41.995876 -87.811615
1610  2011-09-07  NaN  41.995972 -87.810271
1611  2011-09-07  NaN  41.995684 -87.810319
1612  2011-09-07  NaN  41.994724 -87.810415
1613  2011-09-07  NaN  41.993092 -87.810415

[584 rows x 4 columns]

In [20]:
# Dropped time column from spray because it isn't contained in any other datasets, and has a high number of missing
# values
spray.drop(columns='time', inplace=True)

In [21]:
spray.head()

         date   latitude  longitude
0  2011-08-29  42.391623 -88.089163
1  2011-08-29  42.391348 -88.089163
2  2011-08-29  42.391022 -88.089157
3  2011-08-29  42.390637 -88.089158
4  2011-08-29  42.390410 -88.088858

In [22]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
station        2944 non-null int64
date           2944 non-null object
tmax           2944 non-null int64
tmin           2944 non-null int64
tavg           2944 non-null object
depart         2944 non-null object
dewpoint       2944 non-null int64
wetbulb        2944 non-null object
heat           2944 non-null object
cool           2944 non-null object
sunrise        2944 non-null object
sunset         2944 non-null object
codesum        2944 non-null object
depth          2944 non-null object
water1         2944 non-null object
snowfall       2944 non-null object
preciptotal    2944 non-null object
stnpressure    2944 non-null object
sealevel       2944 non-null object
resultspeed    2944 non-null float64
resultdir      2944 non-null int64
avgspeed       2944 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

In [23]:
weather['tavg'].value_counts()

73    138
77    117
70    117
75    110
71    109
74    107
72    104
69    103
78    102
76    100
68     99
79     98
66     93
67     89
61     88
64     86
80     84
65     84
63     81
57     67
62     66
60     61
50     57
81     55
58     49
53     49
54     48
82     48
55     48
52     46
56     46
59     45
51     36
83     34
49     29
45     28
47     24
46     24
84     21
44     19
48     17
86     16
85     16
42     15
43     12
M      11
87      9
41      7
40      5
39      4
89      4
88      4
91      4
37      2
90      2
38      2
36      2
94      1
93      1
92      1
Name: tavg, dtype: int64

In [24]:
# Dropped all t-averages with missing value 'M' because there were additional missing values in each of these rows.
# Only 11 were missing.
weather = (weather[weather['tavg'] != 'M'])

In [25]:
# Look at Missing values is the depart column of weather
weather[weather['depart'] == 'M']

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,,M,M,M,0.00,29.62,30.28,13.8,10,14.5
13,2,2007-05-07,84,50,67,M,39,53,0,2,...,,M,M,M,0.00,29.44,30.12,8.5,17,9.9
15,2,2007-05-08,80,60,70,M,57,63,0,5,...,HZ,M,M,M,T,29.36,30.02,2.5,8,5.4
17,2,2007-05-09,76,63,70,M,60,63,0,5,...,BR HZ,M,M,M,0.02,29.28,29.93,3.9,7,5.9
19,2,2007-05-10,83,59,71,M,52,61,0,6,...,BR HZ,M,M,M,0.00,29.26,29.91,2.0,9,3.9
21,2,2007-05-11,73,49,61,M,44,51,4,0,...,,M,M,M,0.00,29.39,30.03,11.7,36,12.8
23,2,2007-05-12,65,47,56,M,37,46,9,0,...,,M,M,M,0.00,29.54,30.19,12.7,1,13.0
25,2,2007-05-13,69,44,57,M,32,46,8,0,...,,M,M,M,0.00,29.55,30.24,6.4,11,7.6
27,2,2007-05-14,90,54,72,M,45,58,0,7,...,,M,M,M,0.00,29.31,29.98,14.1,21,14.6
29,2,2007-05-15,82,56,69,M,56,61,0,4,...,TSRA RA BR,M,M,M,0.60,29.19,29.83,8.1,25,10.8
31,2,2007-05-16,64,45,55,M,42,47,10,0,...,RA BR,M,M,M,0.07,29.39,30.03,8.0,36,11.8
33,2,2007-05-17,61,44,53,M,32,43,12,0,...,,M,M,M,0.00,29.62,30.27,11.7,1,12.2
35,2,2007-05-18,70,43,57,M,31,47,8,0,...,,M,M,M,0.00,29.60,30.26,3.4,22,5.5
37,2,2007-05-19,80,56,68,M,37,53,0,3,...,,M,M,M,0.00,29.41,30.08,11.1,23,11.4
39,2,2007-05-20,69,44,57,M,41,45,8,0,...,TSRA RA,M,M,M,0.11,29.44,30.11,8.6,3,9.7
41,2,2007-05-21,79,46,63,M,50,57,2,0,...,,M,M,M,0.00,29.39,30.05,6.3,10,7.8
43,2,2007-05-22,87,60,74,M,44,58,0,9,...,,M,M,M,0.00,29.41,30.05,10.1,16,10.6
45,2,2007-05-23,89,66,78,M,48,61,0,13,...,,M,M,M,0.00,29.47,30.10,10.9,18,11.2
47,2,2007-05-24,88,66,77,M,53,63,0,12,...,RA HZ,M,M,M,T,29.47,30.10,13.8,20,15.2
49,2,2007-05-25,66,57,62,M,46,53,3,0,...,RA BR,M,M,M,0.09,29.57,30.23,4.5,5,8.2
51,2,2007-05-26,70,50,60,M,55,57,5,0,...,TSRA RA BR,M,M,M,0.28,29.42,30.10,2.5,15,7.8
53,2,2007-05-27,75,59,67,M,49,57,0,2,...,RA BR,M,M,M,0.08,29.41,30.05,8.2,24,9.2
55,2,2007-05-28,76,54,65,M,49,57,0,0,...,,M,M,M,0.00,29.49,30.14,4.7,8,5.2
57,2,2007-05-29,88,65,77,M,59,66,0,12,...,BR HZ,M,M,M,0.00,29.44,30.09,5.8,16,7.4
59,2,2007-05-30,89,70,80,M,57,66,0,15,...,HZ,M,M,M,0.00,29.38,30.03,9.7,17,10.1
61,2,2007-05-31,80,68,74,M,61,66,0,9,...,RA BR,M,M,M,0.53,29.34,29.99,8.9,18,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2885,2,2014-10-02,75,66,71,M,63,65,0,6,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
2887,2,2014-10-03,68,46,57,M,47,52,8,0,...,RA BR,M,M,M,1.05,29.02,29.66,14.0,28,15.6
2889,2,2014-10-04,49,37,43,M,35,41,22,0,...,RA DZ,M,M,M,0.05,29.07,29.74,13.6,25,13.5
2891,2,2014-10-05,56,42,49,M,36,44,16,0,...,RA,M,M,M,T,29.02,29.70,10.1,23,10.7
2893,2,2014-10-06,63,48,56,M,40,47,9,0,...,,M,M,M,0.01,28.95,29.62,9.5,23,10.5
2895,2,2014-10-07,69,49,59,M,45,51,6,0,...,,M,M,M,0.00,29.06,29.70,10.3,24,11.7
2897,2,2014-10-08,67,48,58,M,36,48,7,0,...,,M,M,M,0.00,29.34,29.97,10.7,27,11.2
2899,2,2014-10-09,64,50,57,M,36,46,8,0,...,,M,M,M,0.00,29.44,30.09,3.4,2,6.3
2901,2,2014-10-10,59,44,52,M,40,46,13,0,...,,M,M,M,0.00,29.49,30.16,3.8,2,5.2
2903,2,2014-10-11,60,40,50,M,36,44,15,0,...,,M,M,M,0.00,29.53,30.20,3.5,8,4.7
2905,2,2014-10-12,64,45,55,M,44,50,10,0,...,RA DZ BR,M,M,M,0.01,29.31,30.00,9.5,14,9.9
2907,2,2014-10-13,71,59,65,M,61,62,0,0,...,RA BR HZ,M,M,M,0.44,29.03,29.73,7.5,15,8.9
2909,2,2014-10-14,67,54,61,M,59,60,4,0,...,RA DZ BR,M,M,M,1.18,28.89,29.54,1.8,12,8.6
2911,2,2014-10-15,58,53,56,M,53,54,9,0,...,RA DZ BR,M,M,M,0.07,29.10,29.74,9.4,35,9.7
2913,2,2014-10-16,58,53,56,M,52,53,9,0,...,DZ BR,M,M,M,T,29.09,29.77,5.4,25,8.4
2915,2,2014-10-17,63,49,56,M,48,52,9,0,...,,M,M,M,0.01,29.05,29.69,10.7,28,12.7
2917,2,2014-10-18,52,39,46,M,40,44,19,0,...,RA,M,M,M,0.02,29.44,30.08,7.6,34,8.7
2919,2,2014-10-19,57,36,47,M,40,44,18,0,...,,M,M,M,0.00,29.39,30.09,8.8,21,9.0
2921,2,2014-10-20,66,50,58,M,46,51,7,0,...,,M,M,M,0.00,29.23,29.90,4.9,32,9.1
2923,2,2014-10-21,54,49,52,M,41,46,13,0,...,,M,M,M,0.00,29.51,30.15,11.0,36,11.6
2925,2,2014-10-22,56,43,50,M,38,44,15,0,...,,M,M,M,0.00,29.62,30.30,3.0,11,5.1
2927,2,2014-10-23,62,41,52,M,41,47,13,0,...,BR,M,M,M,T,29.46,30.16,7.9,19,8.4
2929,2,2014-10-24,68,54,61,M,48,53,4,0,...,,M,M,M,0.00,29.31,30.00,4.9,22,5.8
2931,2,2014-10-25,75,52,64,M,41,52,1,0,...,BR HZ,M,M,M,0.00,29.27,29.92,9.7,28,10.4
2933,2,2014-10-26,66,44,55,M,33,45,10,0,...,,M,M,M,0.00,29.28,29.95,1.6,11,5.4
2935,2,2014-10-27,79,54,67,M,52,59,0,2,...,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2937,2,2014-10-28,66,48,57,M,40,48,8,0,...,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [26]:
# There are 0.498 missing values from weather depart column
weather['depart'].value_counts(normalize=True)

M      0.498125
 2     0.031708
-1     0.028640
-2     0.027276
 5     0.026253
 7     0.025912
 1     0.025912
 3     0.025571
 0     0.025230
-3     0.024548
 4     0.024207
 6     0.022844
 8     0.020116
-5     0.019434
-4     0.019093
-6     0.017047
 9     0.016025
10     0.015684
-8     0.014661
-7     0.010228
11     0.009547
12     0.009547
-9     0.008524
13     0.007842
-10    0.007501
14     0.007501
15     0.005114
16     0.004091
-11    0.003409
-12    0.002728
17     0.002387
18     0.002046
-14    0.002046
-13    0.001705
19     0.001364
20     0.001364
22     0.001023
-16    0.001023
-15    0.001023
-17    0.000682
21     0.000682
23     0.000341
Name: depart, dtype: float64

In [27]:
# Check for null values in Weather
weather[weather.isnull().any(axis=1)]

Empty DataFrame
Columns: [station, date, tmax, tmin, tavg, depart, dewpoint, wetbulb, heat, cool, sunrise, sunset, codesum, depth, water1, snowfall, preciptotal, stnpressure, sealevel, resultspeed, resultdir, avgspeed]
Index: []

[0 rows x 22 columns]

In [28]:
weather.shape

(2933, 22)

In [25]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 12 columns):
date                      10506 non-null object
address                   10506 non-null object
species                   10506 non-null object
block                     10506 non-null int64
street                    10506 non-null object
trap                      10506 non-null object
addressnumberandstreet    10506 non-null object
latitude                  10506 non-null float64
longitude                 10506 non-null float64
addressaccuracy           10506 non-null int64
nummosquitos              10506 non-null int64
wnvpresent                10506 non-null int64
dtypes: float64(2), int64(4), object(6)
memory usage: 985.0+ KB

In [26]:
# Check for null values in train data
train[train.isnull().any(axis=1)]

Empty DataFrame
Columns: [date, address, species, block, street, trap, addressnumberandstreet, latitude, longitude, addressaccuracy, nummosquitos, wnvpresent]
Index: []

In [27]:
train.columns

Index(['date', 'address', 'species', 'block', 'street', 'trap',
       'addressnumberandstreet', 'latitude', 'longitude', 'addressaccuracy',
       'nummosquitos', 'wnvpresent'],
      dtype='object')

In [29]:
# Convert dates to datetime
spray['date']   = pd.to_datetime(spray['date'])
weather['date'] = pd.to_datetime(weather['date'])
train['date']   = pd.to_datetime(train['date'])
test['date']    = pd.to_datetime(test['date'])

In [30]:
test['date'].head()

0   2008-06-11
1   2008-06-11
2   2008-06-11
3   2008-06-11
4   2008-06-11
Name: date, dtype: datetime64[ns]

In [31]:
spray.head()

        date   latitude  longitude
0 2011-08-29  42.391623 -88.089163
1 2011-08-29  42.391348 -88.089163
2 2011-08-29  42.391022 -88.089157
3 2011-08-29  42.390637 -88.089158
4 2011-08-29  42.390410 -88.088858

In [32]:
# Split dates into individual categories test file
test['year'] = [str(date)[0:4] for date in test.date]
test['month'] = [str(date)[5:7] for date in test.date]
test['day'] = [str(date)[8:10] for date in test.date]

In [33]:
# Split dates into individual categories train file
train['year'] = [str(date)[0:4] for date in train.date]
train['month'] = [str(date)[5:7] for date in train.date]
train['day'] = [str(date)[8:10] for date in train.date]

In [34]:
# Combine weather stations 1 and 2 based on date
weather1 = weather[weather['station'] == 1]
weather2 = weather[weather['station'] == 2]
weather1.drop(columns='station', inplace=True)
weather2.drop(columns='station', inplace=True)
weather = weather1.merge(weather2, on='date')

/Users/bryancombs/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/bryancombs/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [36]:
# Merge train and test datasets with weather dataset based on the date field
train=train.merge(weather, on='date')
test=test.merge(weather, on='date')

In [38]:
# Get rid of alpha characters in traps to create number field
train['trap']=[trap.replace("T","") for trap in train['trap']]
test['trap']=[trap.replace("T","") for trap in test['trap']]
train['trap']=[trap.replace("A","") for trap in train['trap']]
test['trap']=[trap.replace("A","") for trap in test['trap']]
train['trap']=[trap.replace("B","") for trap in train['trap']]
test['trap']=[trap.replace("B","") for trap in test['trap']]
train['trap']=[trap.replace("C","") for trap in train['trap']]
test['trap']=[trap.replace("C","") for trap in test['trap']]

In [39]:
# Change field type for trap from object to int in test and train
train['trap']=pd.to_numeric(train['trap'])
test['trap']=pd.to_numeric(test['trap'])

In [40]:
# Make dummy columns for species type in test and train
train=pd.get_dummies(train, columns=['species'], drop_first=True)
test=pd.get_dummies(test, columns=['species'], drop_first=True)

In [41]:
train.dtypes

date                              datetime64[ns]
address                                   object
block                                      int64
street                                    object
trap                                       int64
addressnumberandstreet                    object
latitude                                 float64
longitude                                float64
addressaccuracy                            int64
nummosquitos                               int64
wnvpresent                                 int64
year                                      object
month                                     object
day                                       object
tmax_x                                     int64
tmin_x                                     int64
tavg_x                                     int64
depart_x                                  object
dewpoint_x                                 int64
wetbulb_x                                 object
heat_x                                    object
cool_x                                    object
sunrise_x                                 object
sunset_x                                  object
codesum_x                                 object
depth_x                                   object
water1_x                                  object
snowfall_x                                object
preciptotal_x                             object
stnpressure_x                             object
sealevel_x                                object
resultspeed_x                            float64
resultdir_x                                int64
avgspeed_x                                object
tmax_y                                     int64
tmin_y                                     int64
tavg_y                                     int64
depart_y                                  object
dewpoint_y                                 int64
wetbulb_y                                 object
heat_y                                    object
cool_y                                    object
sunrise_y                                 object
sunset_y                                  object
codesum_y                                 object
depth_y                                   object
water1_y                                  object
snowfall_y                                object
preciptotal_y                             object
stnpressure_y                             object
sealevel_y                                object
resultspeed_y                            float64
resultdir_y                                int64
avgspeed_y                                object
species_CULEX PIPIENS                      uint8
species_CULEX PIPIENS/RESTUANS             uint8
species_CULEX RESTUANS                     uint8
species_CULEX SALINARIUS                   uint8
species_CULEX TARSALIS                     uint8
species_CULEX TERRITANS                    uint8
dtype: object

In [42]:
# Create lowercase characters and underscore species dummy columns
train.columns = [col.lower().replace(' ', '_') for col in train.columns]
test.columns = [col.lower().replace(' ', '_') for col in test.columns]

In [44]:
train['trap'].head()

0     2
1     2
2     7
3    15
4    15
Name: trap, dtype: int64

In [45]:
train['addressnumberandstreet'].head()

0    4100  N OAK PARK AVE, Chicago, IL
1    4100  N OAK PARK AVE, Chicago, IL
2     6200  N MANDELL AVE, Chicago, IL
3      7900  W FOSTER AVE, Chicago, IL
4      7900  W FOSTER AVE, Chicago, IL
Name: addressnumberandstreet, dtype: object

In [46]:
train['address'].head()

0    4100 North Oak Park Avenue, Chicago, IL 60634,...
1    4100 North Oak Park Avenue, Chicago, IL 60634,...
2    6200 North Mandell Avenue, Chicago, IL 60646, USA
3      7900 West Foster Avenue, Chicago, IL 60656, USA
4      7900 West Foster Avenue, Chicago, IL 60656, USA
Name: address, dtype: object

In [47]:
train['wnvpresent'].head()

0    0
1    0
2    0
3    0
4    0
Name: wnvpresent, dtype: int64

In [48]:
train['trap'].value_counts()

900    750
115    542
138    314
2      185
135    183
54     172
128    160
151    156
212    152
90     151
114    148
158    147
31     146
48     146
903    140
8      139
11     133
209    130
200    129
73     128
30     126
94     126
3      122
28     117
66     116
74     115
47     114
102    112
221    112
9      111
      ...
150     22
107     22
141     22
162     21
156     21
206     21
219     21
154     21
75      20
70      20
71      19
142     18
97      17
34      17
50      17
1       15
60      15
44      15
51      15
157     14
149     14
5       14
72      13
4       12
229      8
78       8
238      7
76       5
237      3
40       2
Name: trap, Length: 134, dtype: int64

In [49]:
test['trap'].value_counts()

90     3051
218    3051
2      2377
200    2291
54     1552
128    1534
65     1532
9      1528
94     1521
35     1520
900    1468
8       822
11      814
27      803
151     797
903     784
28      783
231     781
12      781
3       780
220     776
115     776
73      776
16      775
135     774
223     774
63      774
158     773
212     773
102     772
       ...
25      760
107     760
88      760
215     760
44      760
150     760
86      760
149     760
85      760
43      760
91      760
84      760
155     760
219     760
19      760
146     760
234     760
18      760
92      760
156     760
81      760
17      760
157     760
232     760
40      760
143     760
79      760
15      760
206     760
154     760
Name: trap, Length: 135, dtype: int64

In [50]:
# Change types of date fields in test and train
train['year'] = train['year'].astype(float)
test['year'] = test['year'].astype(float)
train['month'] = train['month'].astype(float)
test['month'] = test['month'].astype(float)
train['day'] = train['day'].astype(float)
test['day'] = test['day'].astype(float)

### Geopy

Using Geopy, below we are using the latitude and longitude, based on the corresponding year, and creating a function that calculates the distance between positive West Nile Virus samples found in mosquitoes vs. the mosquitoes that did not test positive for the West Nile.  We repeated the process for each year in the train and test data, that will be used as features later on in our model.  The comments are the same for each function below

In [51]:
%%time

# Using 2007 Train data, find the distance between mosquitos that tested positive for WNV vs. those that did not

# Filter by year
distance_2007 = train[train['year'] == 2007.0]
features = ['latitude', 'longitude']

distance_2007 = distance_2007[features]
distance_2007 = distance_2007.apply(tuple, axis = 1)
train['wnvpresent'] = train['wnvpresent'].astype(float)

# Find if WNV present for year
westnile_2007 = (train[train['wnvpresent'] == 1]) 
westnile_2007 = westnile_2007[westnile_2007['year'] == 2007.0]
westnile_2007 = westnile_2007[features]
westnile_2007 = westnile_2007.apply(tuple, axis = 1)

# Iterate through each distance, and if it has WNV present, append it to list
h=0
results_2007 = []
for i in distance_2007:
   dists_2007 = []

   for j in westnile_2007:
        
       # Use Geopy to find the difference in distances, in miles 
       dist_2007 = (geodesic(i, j).miles)
       if dist_2007 > 0:
            dists_2007.append(dist_2007)
   
   results_2007.append(min(dists_2007))

# Create dataframe    
train_2007=pd.DataFrame(results_2007,columns = ['distance'])
train_07 = train[train['year'] == 2007]
train_7 = pd.concat([train_07, train_2007], axis = 1)

CPU times: user 2min 29s, sys: 172 ms, total: 2min 29s
Wall time: 2min 29s

In [52]:
%%time

# Using 2009 Train data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2009 = train[train['year'] == 2009.0]
features = ['latitude', 'longitude']

distance_2009 = distance_2009[features]
distance_2009 = distance_2009.apply(tuple, axis = 1)
train['wnvpresent'] = train['wnvpresent'].astype(float)

westnile_2009 = (train[train['wnvpresent'] == 1]) 
westnile_2009 = westnile_2009[westnile_2009['year'] == 2009.0]
westnile_2009 = westnile_2009[features]
westnile_2009 = westnile_2009.apply(tuple, axis = 1)
westnile_2009.head()

h=0
results_2009 = []
for i in distance_2009:
   dists_2009 = []

   for j in westnile_2009:

       dist_2009 = (geodesic(i, j).miles)
       if dist_2009 > 0:
            dists_2009.append(dist_2009)
    
   results_2009.append(min(dists_2009))

train_2009=pd.DataFrame(results_2009,columns = ['distance'])
train_09 = train[train['year'] == 2009]
train_09.reset_index(inplace = True)
train_9 = pd.concat([train_09, train_2009], axis = 1)

CPU times: user 6.94 s, sys: 6.39 ms, total: 6.95 s
Wall time: 6.94 s

In [53]:
%%time

# Using 2011 Train data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2011 = train[train['year'] == 2011.0]
features = ['latitude', 'longitude']

distance_2011 = distance_2011[features]
distance_2011 = distance_2011.apply(tuple, axis = 1)
train['wnvpresent'] = train['wnvpresent'].astype(float)

westnile_2011 = (train[train['wnvpresent'] == 1]) 
westnile_2011 = westnile_2011[westnile_2011['year'] == 2011.0]
westnile_2011 = westnile_2011[features]
westnile_2011 = westnile_2011.apply(tuple, axis = 1)
westnile_2011.head()


h=0
results_2011 = []
for i in distance_2011:
   dists_2011 = []

   for j in westnile_2011:

       dist_2011 = (geodesic(i, j).miles)
       if dist_2011 > 0:
            dists_2011.append(dist_2011)
   
   results_2011.append(min(dists_2011))

train_2011=pd.DataFrame(results_2011,columns = ['distance'])    
train_11 = train[train['year'] == 2011]
train_11.reset_index(inplace = True)
train_1 = pd.concat([train_11, train_2011], axis = 1)

CPU times: user 18.7 s, sys: 10.8 ms, total: 18.7 s
Wall time: 18.7 s

In [54]:
%%time

# Using 2013 Train data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2013 = train[train['year'] == 2013.0]
features = ['latitude', 'longitude']

distance_2013 = distance_2013[features]
distance_2013 = distance_2013.apply(tuple, axis = 1)
train['wnvpresent'] = train['wnvpresent'].astype(float)

westnile_2013 = (train[train['wnvpresent'] == 1]) 
westnile_2013 = westnile_2013[westnile_2013['year'] == 2013.0]
westnile_2013 = westnile_2013[features]
westnile_2013 = westnile_2013.apply(tuple, axis = 1)
westnile_2013.head()


h=0
results_2013 = []
for i in distance_2013:
   dists_2013 = []

   for j in westnile_2013:

       dist_2013 = (geodesic(i, j).miles)
       if dist_2013 > 0:
            dists_2013.append(dist_2013)
   
   results_2013.append(min(dists_2013))

train_2013=pd.DataFrame(results_2013,columns = ['distance'])
train_13 = train[train['year'] == 2013]
train_13.reset_index(inplace = True)
train_3 = pd.concat([train_13, train_2013], axis = 1)

CPU times: user 1min 34s, sys: 111 ms, total: 1min 34s
Wall time: 1min 34s

In [55]:
# Take each year of train distance data just calculated and add to new df
list = [train_7, train_9, train_1, train_3]
train_new = pd.concat(list, axis = 0)
train_new

,address,addressaccuracy,addressnumberandstreet,avgspeed_x,avgspeed_y,block,codesum_x,codesum_y,cool_x,cool_y,...,tmax_y,tmin_x,tmin_y,trap,water1_x,water1_y,wetbulb_x,wetbulb_y,wnvpresent,year
0,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9,"4100 N OAK PARK AVE, Chicago, IL",6.5,7.4,41,BR HZ,BR HZ,9,12,...,88,60,65,2,M,M,65,66,0.0,2007.0
1,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9,"4100 N OAK PARK AVE, Chicago, IL",6.5,7.4,41,BR HZ,BR HZ,9,12,...,88,60,65,2,M,M,65,66,0.0,2007.0
2,"6200 North Mandell Avenue, Chicago, IL 60646, USA",9,"6200 N MANDELL AVE, Chicago, IL",6.5,7.4,62,BR HZ,BR HZ,9,12,...,88,60,65,7,M,M,65,66,0.0,2007.0
3,"7900 West Foster Avenue, Chicago, IL 60656, USA",8,"7900 W FOSTER AVE, Chicago, IL",6.5,7.4,79,BR HZ,BR HZ,9,12,...,88,60,65,15,M,M,65,66,0.0,2007.0
4,"7900 West Foster Avenue, Chicago, IL 60656, USA",8,"7900 W FOSTER AVE, Chicago, IL",6.5,7.4,79,BR HZ,BR HZ,9,12,...,88,60,65,15,M,M,65,66,0.0,2007.0
5,"1500 West Webster Avenue, Chicago, IL 60614, USA",8,"1500 W WEBSTER AVE, Chicago, IL",6.5,7.4,15,BR HZ,BR HZ,9,12,...,88,60,65,45,M,M,65,66,0.0,2007.0
6,"2500 West Grand Avenue, Chicago, IL 60654, USA",8,"2500 W GRAND AVE, Chicago, IL",6.5,7.4,25,BR HZ,BR HZ,9,12,...,88,60,65,46,M,M,65,66,0.0,2007.0
7,"1100 Roosevelt Road, Chicago, IL 60608, USA",8,"1100 W ROOSEVELT, Chicago, IL",6.5,7.4,11,BR HZ,BR HZ,9,12,...,88,60,65,48,M,M,65,66,0.0,2007.0
8,"1100 Roosevelt Road, Chicago, IL 60608, USA",8,"1100 W ROOSEVELT, Chicago, IL",6.5,7.4,11,BR HZ,BR HZ,9,12,...,88,60,65,48,M,M,65,66,0.0,2007.0
9,"1100 West Chicago Avenue, Chicago, IL 60642, USA",8,"1100 W CHICAGO, Chicago, IL",6.5,7.4,11,BR HZ,BR HZ,9,12,...,88,60,65,49,M,M,65,66,0.0,2007.0
10,"2100 North Stave Street, Chicago, IL 60647, USA",8,"2100 N STAVE ST, Chicago, IL",6.5,7.4,21,BR HZ,BR HZ,9,12,...,88,60,65,50,M,M,65,66,0.0,2007.0
11,"2200 North Cannon Drive, Chicago, IL 60614, USA",8,"2200 N CANNON DR, Chicago, IL",6.5,7.4,22,BR HZ,BR HZ,9,12,...,88,60,65,54,M,M,65,66,0.0,2007.0
12,"2200 North Cannon Drive, Chicago, IL 60614, USA",8,"2200 N CANNON DR, Chicago, IL",6.5,7.4,22,BR HZ,BR HZ,9,12,...,88,60,65,54,M,M,65,66,0.0,2007.0
13,"2200 West 113th Street, Chicago, IL 60643, USA",8,"2200 W 113TH ST, Chicago, IL",6.5,7.4,22,BR HZ,BR HZ,9,12,...,88,60,65,86,M,M,65,66,0.0,2007.0
14,"2200 West 113th Street, Chicago, IL 60643, USA",8,"2200 W 113TH ST, Chicago, IL",6.5,7.4,22,BR HZ,BR HZ,9,12,...,88,60,65,86,M,M,65,66,0.0,2007.0
15,"1100 South Peoria Street, Chicago, IL 60608, USA",8,"1100 S PEORIA ST, Chicago, IL",6.5,7.4,11,BR HZ,BR HZ,9,12,...,88,60,65,91,M,M,65,66,0.0,2007.0
16,"1700 West 95th Street, Chicago, IL 60643, USA",9,"1700 W 95TH ST, Chicago, IL",6.5,7.4,17,BR HZ,BR HZ,9,12,...,88,60,65,94,M,M,65,66,0.0,2007.0
17,"2200 West 89th Street, Chicago, IL 60643, USA",8,"2200 W 89TH ST, Chicago, IL",6.5,7.4,22,BR HZ,BR HZ,9,12,...,88,60,65,96,M,M,65,66,0.0,2007.0
18,"2200 West 89th Street, Chicago, IL 60643, USA",8,"2200 W 89TH ST, Chicago, IL",6.5,7.4,22,BR HZ,BR HZ,9,12,...,88,60,65,96,M,M,65,66,0.0,2007.0
19,"North Streeter Drive, Chicago, IL 60611, USA",5,"5300 N STREETER DR, Chicago, IL",6.5,7.4,53,BR HZ,BR HZ,9,12,...,88,60,65,129,M,M,65,66,0.0,2007.0
20,"North Streeter Drive, Chicago, IL 60611, USA",5,"5300 N STREETER DR, Chicago, IL",6.5,7.4,53,BR HZ,BR HZ,9,12,...,88,60,65,129,M,M,65,66,0.0,2007.0
21,"6500 North Oak Park Avenue, Chicago, IL 60631,...",8,"6500 N OAK PARK AVE, Chicago, IL",6.5,7.4,65,BR HZ,BR HZ,9,12,...,88,60,65,143,M,M,65,66,0.0,2007.0
22,"7500 North Oakley Avenue, Chicago, IL 60645, USA",8,"7500 N OAKLEY AVE, Chicago, IL",6.5,7.4,75,BR HZ,BR HZ,9,12,...,88,60,65,148,M,M,65,66,0.0,2007.0
23,"1500 North Long Avenue, Chicago, IL 60651, USA",8,"1500 N LONG AVE, Chicago, IL",6.5,7.4,15,BR HZ,BR HZ,9,12,...,88,60,65,153,M,M,65,66,0.0,2007.0
24,"8900 South Carpenter Street, Chicago, IL 60620...",8,"8900 S CARPENTER ST, Chicago, IL",6.5,7.4,89,BR HZ,BR HZ,9,12,...,88,60,65,159,M,M,65,66,0.0,2007.0
25,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9,"4100 N OAK PARK AVE, Chicago, IL",7.6,8.1,41,RA BR,RA BR,0,0,...,63,47,51,2,M,M,51,52,0.0,2007.0
26,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9,"4100 N OAK PARK AVE, Chicago, IL",7.6,8.1,41,RA BR,RA BR,0,0,...,63,47,51,2,M,M,51,52,0.0,2007.0
27,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9,"4100 N OAK PARK AVE, Chicago, IL",7.6,8.1,41,RA BR,RA BR,0,0,...,63,47,51,2,M,M,51,52,0.0,2007.0
28,"7900 West Foster Avenue, Chicago, IL 60656, USA",8,"7900 W FOSTER AVE, Chicago, IL",7.6,8.1,79,RA BR,RA BR,0,0,...,63,47,51,15,M,M,51,52,0.0,2007.0
29,"7900 West Foster Avenue, Chicago, IL 60656, USA",8,"7900 W FOSTER AVE, Chicago, IL",7.6,8.1,79,RA BR,RA BR,0,0,...,63,47,51,15,M,M,51,52,0.0,2007.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2362,"South Cottage Grove Avenue, Chicago, IL, USA",5,"1000 S COTTAGE GROVE, Chicago, IL",4.2,4.6,10,BR,,0,0,...,75,50,55,102,M,M,58,58,0.0,2013.0
2363,"South Cottage Grove Avenue, Chicago, IL, USA",5,"1000 S COTTAGE GROVE, Chicago, IL",4.2,4.6,10,BR,,0,0,...,75,50,55,102,M,M,58,58,0.0,2013.0
2364,"South Cottage Grove Avenue, Chicago, IL, USA",5,"1000 S COTTAGE GROVE, Chicago, IL",4.2,4.6,10,BR,,0,0,...,75,50,55,102,M,M,58,58,0.0,2013.0
2365,"5800 North Pulaski Road, Chicago, IL 60646, USA",8,"5800 N PULASKI RD, Chicago, IL",4.2,4.6,58,BR,,0,0,...,75,50,55,27,M,M,58,58,0.0,2013.0
2366,"4000 East 130th Street, Chicago, IL 60633, USA",8,"4000 E 130TH ST, Chicago, IL",4.2,4.6,40,BR,,0,0,...,75,50,55,221,M,M,58,58,0.0,2013.0
2367,"4000 East 130th Street, Chicago, IL 60633, USA",8,"4000 E 130TH ST, Chicago, IL",4.2,4.6,40,BR,,0,0,...,75,50,55,221,M,M,58,58,0.0,2013.0
2368,"4000 East 130th Street, Chicago, IL 60633, USA",8,"4000 E 130TH ST, Chicago, IL",4.2,4.6,40,BR,,0,0,...,75,50,55,221,M,M,58,58,0.0,2013.0
2369,"9100 West Higgins Road, Rosemont, IL 60018, USA",8,"9100 W HIGGINS RD, Chicago, IL",4.2,4.6,91,BR,,0,0,...,75,50,55,9,M,M,58,58,0.0,2013.0
2370,"ORD Terminal 5, O'Hare International Airport, ...",9,"1000 W OHARE AIRPORT, Chicago, IL",4.2,4.6,10,BR,,0,0,...,75,50,55,900,M,M,58,58,1.0,2013.0
2371,"ORD Terminal 5, O'Hare International Airport, ...",9,"1000 W OHARE AIRPORT, Chicago, IL",4.2,4.6,10,BR,,0,0,...,75,50,55,900,M,M,58,58,0.0,2013.0
2372,"ORD Terminal 5, O'Hare International Airport, ...",9,"1000 W OHARE AIRPORT, Chicago, IL",4.2,4.6,10,BR,,0,0,...,75,50,55,900,M,M,58,58,0.0,2013.0
2373,"ORD Terminal 5, O'Hare International Airport, ...",9,"1000 W OHARE AIRPORT, Chicago, IL",4.2,4.6,10,BR,,0,0,...,75,50,55,900,M,M,58,58,0.0,2013.0
2374,"ORD Terminal 5, O'Hare International Airport, ...",9,"1000 W OHARE AIRPORT, Chicago, IL",4.2,4.6,10,BR,,0,0,...,75,50,55,900,M,M,58,58,0.0,2013.0
2375,"ORD Terminal 5, O'Hare International Airport, ...",9,"1000 W OHARE AIRPORT, Chicago, IL",4.2,4.6,10,BR,,0,0,...,75,50,55,900,M,M,58,58,0.0,2013.0
2376,"4800 West Montana Street, Chicago, IL 60639, USA",8,"4800 W MONTANA ST, Chicago, IL",4.2,4.6,48,BR,,0,0,...,75,50,55,222,M,M,58,58,0.0,2013.0
2377,"5100 North Mont Clare Avenue, Chicago, IL 6065...",9,"5100 N MONT CLARE AVE, Chicago, IL",4.2,4.6,51,BR,,0,0,...,75,50,55,223,M,M,58,58,0.0,2013.0
2378,"5100 North Mont Clare Avenue, Chicago, IL 6065...",9,"5100 N MONT CLARE AVE, Chicago, IL",4.2,4.6,51,BR,,0,0,...,75,50,55,223,M,M,58,58,0.0,2013.0
2379,"8200 South Kostner Avenue, Chicago, IL 60652, USA",8,"8200 S KOSTNER AVE, Chicago, IL",4.2,4.6,82,BR,,0,0,...,75,50,55,225,M,M,58,58,0.0,2013.0
2380,"East 91st Place, Chicago, IL, USA",5,"6500 E 91ST PL, Chicago, IL",4.2,4.6,65,BR,,0,0,...,75,50,55,227,M,M,58,58,0.0,2013.0
2381,"East 91st Place, Chicago, IL, USA",5,"6500 E 91ST PL, Chicago, IL",4.2,4.6,65,BR,,0,0,...,75,50,55,227,M,M,58,58,0.0,2013.0
2382,"1700 West Addison Street, Chicago, IL 60613, USA",9,"1700 W ADDISON ST, Chicago, IL",4.2,4.6,17,BR,,0,0,...,75,50,55,224,M,M,58,58,0.0,2013.0
2383,"West Garfield Boulevard, Chicago, IL, USA",5,"9000 W GARFIELD BLVD, Chicago, IL",4.2,4.6,90,BR,,0,0,...,75,50,55,226,M,M,58,58,0.0,2013.0
2384,"1300 North Laramie Avenue, Chicago, IL 60651, USA",9,"1300 N LARAMIE AVE, Chicago, IL",4.2,4.6,13,BR,,0,0,...,75,50,55,230,M,M,58,58,0.0,2013.0
2385,"1300 North Laramie Avenue, Chicago, IL 60651, USA",9,"1300 N LARAMIE AVE, Chicago, IL",4.2,4.6,13,BR,,0,0,...,75,50,55,230,M,M,58,58,0.0,2013.0
2386,"3900 North Springfield Avenue, Chicago, IL 606...",8,"3900 N SPRINGFIELD AVE, Chicago, IL",4.2,4.6,39,BR,,0,0,...,75,50,55,228,M,M,58,58,0.0,2013.0
2387,"5100 West 72nd Street, Chicago, IL 60638, USA",8,"5100 W 72ND ST, Chicago, IL",4.2,4.6,51,BR,,0,0,...,75,50,55,35,M,M,58,58,1.0,2013.0
2388,"5800 North Ridge Avenue, Chicago, IL 60660, USA",8,"5800 N RIDGE AVE, Chicago, IL",4.2,4.6,58,BR,,0,0,...,75,50,55,231,M,M,58,58,0.0,2013.0
2389,"1700 North Ashland Avenue, Chicago, IL 60622, USA",9,"1700 N ASHLAND AVE, Chicago, IL",4.2,4.6,17,BR,,0,0,...,75,50,55,232,M,M,58,58,0.0,2013.0
2390,"7100 North Harlem Avenue, Chicago, IL 60631, USA",9,"7100 N HARLEM AVE, Chicago, IL",4.2,4.6,71,BR,,0,0,...,75,50,55,233,M,M,58,58,0.0,2013.0
2391,"4200 West 65th Street, Chicago, IL 60621, USA",8,"4200 W 65TH ST, Chicago, IL",4.2,4.6,42,BR,,0,0,...,75,50,55,235,M,M,58,58,0.0,2013.0

In [56]:
train.shape

(10506, 60)

### Repeating the Geopy process with the Test Data

In [58]:
# test['distance'] = 0

In [59]:
%%time

# Using 2008 Test data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2008 = test[test['year'] == 2008.0]
features = ['latitude', 'longitude']

distance_2008 = distance_2008[features]
distance_2008 = distance_2008.apply(tuple, axis = 1)

westnile_2007 = (train[train['wnvpresent'] == 1]) 
westnile_2007 = westnile_2007[westnile_2007['year'] == 2007.0]
westnile_2007 = westnile_2007[features]
westnile_2007 = westnile_2007.apply(tuple, axis = 1)


h=0
results_2008 = []
for i in distance_2008:
   dists_2008 = []

   for j in westnile_2007:

       dist_2008 = (geodesic(i, j).miles)
       if dist_2008 > 0:
            dists_2008.append(dist_2008)
   results_2008.append(min(dists_2008))

test_2008=pd.DataFrame(results_2008,columns = ['distance'])
test_08 = test[test['year'] == 2008]
test_08.reset_index(inplace = True)
test_8 = pd.concat([test_08, test_2008], axis = 1)

CPU times: user 20min 41s, sys: 797 ms, total: 20min 42s
Wall time: 37min 52s

In [60]:
%%time

# Using 2010 Test data, find the distance between mosquitos that tested positive for WNV vs. those that did not


distance_2010 = test[test['year'] == 2010.0]
features = ['latitude', 'longitude']

distance_2010 = distance_2010[features]
distance_2010 = distance_2010.apply(tuple, axis = 1)

westnile_2009 = (train[train['wnvpresent'] == 1]) 
westnile_2009 = westnile_2009[westnile_2009['year'] == 2007.0]
westnile_2009 = westnile_2009[features]
westnile_2009 = westnile_2009.apply(tuple, axis = 1)


h=0
results_2010 = []
for i in distance_2010:
   dists_2010= []

   for j in westnile_2009:

       dist_2010 = (geodesic(i, j).miles)
       if dist_2010 > 0:
            dists_2010.append(dist_2010)
   
   results_2010.append(min(dists_2010))

test_2010=pd.DataFrame(results_2010,columns = ['distance'])
test_10 = test[test['year'] == 2010]
test_10.reset_index(inplace = True)
test_0 = pd.concat([test_10, test_2010], axis = 1)

CPU times: user 32min 17s, sys: 4.23 s, total: 32min 21s
Wall time: 2h 10min 36s

In [61]:
%%time

# Using 2012 Test data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2012 = test[test['year'] == 2012.0]
features = ['latitude', 'longitude']

distance_2012 = distance_2012[features]
distance_2012 = distance_2012.apply(tuple, axis = 1)


westnile_2011 = (train[train['wnvpresent'] == 1]) 
westnile_2011 = westnile_2011[westnile_2011['year'] == 2011.0]
westnile_2011 = westnile_2011[features]
westnile_2011 = westnile_2011.apply(tuple, axis = 1)

h=0
results_2012 = []
for i in distance_2012:
   dists_2012 = []

   for j in westnile_2011:

       dist_2012 = (geodesic(i, j).miles)
       if dist_2012 > 0:
            dists_2012.append(dist_2012)
   
   results_2012.append(min(dists_2012))

test_2012=pd.DataFrame(results_2012,columns = ['distance'])
test_12 = test[test['year'] == 2012]
test_12.reset_index(inplace = True)
test_2 = pd.concat([test_12, test_2012], axis = 1)

CPU times: user 5min 46s, sys: 771 ms, total: 5min 47s
Wall time: 23min 49s

In [62]:
%%time

# Using 2014 Test data, find the distance between mosquitos that tested positive for WNV vs. those that did not

distance_2014 = test[test['year'] == 2014.0]
features = ['latitude', 'longitude']

distance_2014 = distance_2014[features]
distance_2014 = distance_2014.apply(tuple, axis = 1)

westnile_2013 = (train[train['wnvpresent'] == 1]) 
westnile_2013 = westnile_2013[westnile_2013['year'] == 2013.0]
westnile_2013 = westnile_2013[features]
westnile_2013 = westnile_2013.apply(tuple, axis = 1)

h=0
results_2014 = []
for i in distance_2014:
   dists_2014 = []

   for j in westnile_2013:

       dist_2014 = (geodesic(i, j).miles)
       if dist_2014 > 0:
            dists_2014.append(dist_2014)
   
   results_2014.append(min(dists_2014))

test_2014=pd.DataFrame(results_2014,columns = ['distance'])
test_14 = test[test['year'] == 2014]
test_14.reset_index(inplace = True)
test_4 = pd.concat([test_14, test_2014], axis = 1)

CPU times: user 19min 30s, sys: 2.75 s, total: 19min 33s
Wall time: 1h 26min 17s

In [63]:
# Take each year of test distance data just calculated and add to new df
list = [test_8, test_0, test_2, test_4]
test_new = pd.concat(list, axis = 0)
test_new.head()

,index,id,date,address,block,street,trap,addressnumberandstreet,latitude,longitude,...,avgspeed_y,species_culex_pipiens,species_culex_pipiens/restuans,species_culex_restuans,species_culex_salinarius,species_culex_tarsalis,species_culex_territans,species_unspecified_culex,distance,distance
0,0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,10.4,0,1,0,0,0,0,0,0,1.050839
1,1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,10.4,0,0,1,0,0,0,0,0,1.050839
2,2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,10.4,1,0,0,0,0,0,0,0,1.050839
3,3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,10.4,0,0,0,1,0,0,0,0,1.050839
4,4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,2,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,10.4,0,0,0,0,0,1,0,0,1.050839

In [66]:
test_new.shape

(116293, 63)

In [67]:
train_new.shape

(10506, 62)

In [65]:
# Save cleaned files
spray.to_csv('../project_work/data/sprayclean.csv', index=False)
weather.to_csv('../project_work/data/weatherclean.csv', index=False)
train_new.to_csv('../project_work/data/trainclean.csv', index=False)
test_new.to_csv('../project_work/data/testclean.csv', index=False)